@charset 'utf-8';

/*basic-info*/
.tile-bg { border: 1px dashed #d0d0d0; margin: 50px auto 0; max-width: 290px; padding: 0 10px; text-align: center; }
.tile-bg .btn-block { display: inline-block; }
.tile-bg .btn-block .btn-group { width: 100%; }
.wine-consumption { width: 90px; padding-left: 0; padding-right: 0; }

@media only screen and (max-width: 320px) { 
	#rootwizard-custom-circle li { margin-left: 10%; }
	.btn-group > .btn, .btn-group-vertical > .btn.wine-consumption { float: none; width: 100%; }
	.tile-bg .btn-block .btn-group { margin-left: 0; }
	.tile-bg .btn-block .btn-toolbar { margin-left: 0; }
}

@media only screen and (min-width: 321px) { 
	#rootwizard-custom-circle li { margin-left: 19%; }
}

@media only screen and (min-width: 320px) and (max-width: 640px) { 
	.bwizard-steps-o { padding: 0 2%; }
	#rootwizard-custom-circle li:first-child { margin-left: 0; }
	#rootwizard-custom-circle li a p.anchor { left: -10px; line-height: 1.5; max-width: 55px; top: -60px; }
	
	input[type='range'] { width: 100%; }
	input[type='range']::-moz-range-track { width: 100%; }
}