<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<title>RUZU</title>
<style type="text/css">
body {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border: none;
	line-height: normal;
	outline: none;
	list-style: none;
	mso-line-height-rule: exactly;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
a {
	mso-line-height-rule: exactly;
}
table {
	border-collapse: collapse !important;
	padding: 0px !important;
	border: none !important;
	border-bottom-width: 0px !important;
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
}
table td {
	border-collapse: collapse;
}
body {
	margin: 0px;
	padding: 0px;
}
.ExternalClass * {
	line-height: 100%;
}
.white_tex1 a {
	text-decoration: none;
	color: #ffffff;
}
.blue a {
	text-decoration: underline;
	color: #009bff;
}
.Pre_header {
	color: #404040 !important;
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	
	line-height: 18px !important;
}
.Pre_header a:link {
	color: #e74c3c !important;
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	text-decoration: underline !important;
}
.header_txt {
	color: #33485c !important;
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	text-align: right !important;
	vertical-align: middle !important;
}
.img_1 {
	display: block !important;
	border: none !important;
}
.img_2 {
	display: inline !important;
	border: none !important;
}
.bg_col1 {
	background-color: #33485c !important;
}
.bg_orange {
	background-color: #e74c3c !important;
}
.bg_footer {
	background-color: #dbdbdb !important;
}
.bg_red {
	background-color: #e74c3c !important;
	font-size: 1px !important;
	line-height: 1px !important;
}
.bg_red1 {
	background-color: #e74c3c !important;
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	color: #ffffff !important;
	height: 20px !important;
	text-align: center !important;
	text-decoration: none !important;
	vertical-align: middle !important;
}
.bg_red2 {
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	color: #e74c3c !important;
	height: 20px !important;
	text-align: center !important;
	text-decoration: none !important;
	vertical-align: middle !important;
}
.line_height1 {
	font-size: 1px !important;
	line-height: 1px !important;
}
.bg_white {
	background-color: #ffffff !important;
}
.bg_green {
	background-color: #5cb85c !important;
}
.bg_grey {
	background-color: #dddddd !important;
	height: 189px !important;
}
.bg_grey1 {
	background-color: #dddddd !important;
	font-size: 1px !important;
	line-height: 1px !important;
}
.bg_grey12 {
	background-color: #d0d0d0 !important;
	font-size: 1px !important;
	line-height: 1px !important;
}
.white_text {
	color: #ffffff !important;
	font-size: 20px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	line-height: 26px !important;
}
.white_tex1 {
	color: #ffffff !important;
	font-size: 14px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	line-height: 18px !important;
}
.white_tex2 {
	color: #ffffff !important;
	font-size: 16px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	line-height: 19px !important;
}
.white_tex2 a:link {
	color: #ffffff !important;
	font-size: 16px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	line-height: 19px !important;
	text-decoration: none !important;
}
.title1 {
	color: #21303e !important;
	font-size: 20px !important;
	line-height: 24px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.text1 {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 18px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: top !important;
}
.text2 {
	color: #ffffff !important;
	font-size: 18px !important;
	line-height: 21px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.border1 {
	border-bottom: 1px #cfcfcf dashed !important;
}
.title2 {
	color: #33485c !important;
	font-size: 16px !important;
	line-height: 19px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.text3 {
	color: #33485c !important;
	font-size: 12px !important;
	line-height: 15px !important;
	font-style: italic !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.text4 {
	color: #e74c3c !important;
	font-size: 12px !important;
	line-height: 15px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.text5 {
	color: #3d3d3d !important;
	font-size: 13px !important;
	line-height: 17px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: top !important;
}
.border_btn {
	text-align: left !important;
	vertical-align: central !important;
	border-radius: 4px !important;
	color: #fefefe !important;
	border: 1px solid #99a4ae !important;
	display: inline-block !important;
	padding: 3px !important;
}
.border_btn a:link {
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	color: #fefefe !important;
	text-decoration: none !important;
	display: inline-block !important;
	padding: 3px !important;
}
.round1 {
	border-radius: 38px !important;
	height: 40px !important;
	font-size: 13px !important;
	color: #ffffff !important;
	font-family: Arial, sans-serif !important;
	background-color: #e74c3c !important;
	text-align: center !important;
	vertical-align: middle !important;
}
.point_txt {
	color: #33485c !important;
	font-size: 13px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	line-height: 22px !important;
	vertical-align: middle !important;
}
.price1 {
	color: #21303e !important;
	font-size: 20px !important;
	font-family: Arial, sans-serif !important;
	
	line-height: 22px !important;
	vertical-align: middle !important;
}
.price2 {
	color: #e74c3c !important;
	font-size: 28px !important;
	font-family: Arial, sans-serif !important;
	
	line-height: 32px !important;
	vertical-align: middle !important;
	font-weight: bold !important;
}
.price3 {
	color: #21303e !important;
	font-size: 20px !important;
	font-family: Arial, sans-serif !important;
	
	line-height: 22px !important;
	vertical-align: middle !important;
	text-decoration: line-through !important;
}
.title3 {
	color: #21303e !important;
	font-size: 18px !important;
	line-height: 22px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.title4 {
	color: #21303e !important;
	font-size: 16px !important;
	line-height: 22px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: right !important;
	vertical-align: middle !important;
}
.title5 {
	color: #e9662c !important;
	font-size: 28px !important;
	line-height: 32px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: right !important;
	vertical-align: middle !important;
}
.text_ft {
	color: #3d3d3d !important;
	font-size: 16px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: top !important;
}
.text_ft1 {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: top !important;
}
.text_ft1 a:link {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-decoration: none !important;
}
.text_ft2 {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.text_ft2 a:link {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
	text-decoration: underline !important;
}
.text_footer1 {
	color: #6f6f6f !important;
	font-size: 12px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.text_footer1 a:link {
	color: #6f6f6f !important;
	font-size: 12px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
	text-decoration: none !important;
}
.text_footer2 {
	color: #e9662c !important;
	font-size: 12px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.text_footer3 {
	color: #6f6f6f !important;
	font-size: 11px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.text_footer3 a:link {
	color: #e9662c !important;
	font-size: 11px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
	text-decoration: underline !important;
}
 @media only screen and (max-width:480px) {
table[class=wrapper] {
	width: 100% !important;
}
td[class=width_td] {
	width: 70px !important;
}
td[class=bg_grey] {
	display: none !important;
}
table[class=main_table] {
	width: 320px !important;
}
td[class=white_text] {
	text-align: center !important;
}
td[class=Pre_header] {
	text-align: center !important;
}
td[class=price1] {
	text-align: center !important;
}
td[class=price2] {
	text-align: center !important;
}
td[class=price3] {
	text-align: center !important;
}
td[class=hide] {
	display: none !important;
}
td[class=border_btn] {
	width: 130px !important;
}
td[class=border_btn1] {
	width: 150px !important;
}
table[class=border_btn] {
	width: 130px !important;
}
td[class=bg_white] {
	display: none !important;
}
td[class=aside] {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
td[class=side] {
	width: 15px !important;
}
td[class=side_2] {
	width: 10px !important;
}
td[class=top_space] {
	padding-top: 20px !important;
}
td[class=bottom10] {
	padding-bottom: 10px !important;
}
}
 @media only screen and (min-width:480px) and (max-width:599px) {
table[class=wrapper] {
	width: 100% !important;
}
td[class=price1] {
	text-align: center !important;
}
td[class=price2] {
	text-align: center !important;
}
table[class=main_table] {
	width: 480px !important;
}
td[class=Pre_header] {
	text-align: center !important;
}
td[class=bg_white] {
	display: none !important;
}
td[class=center] {
	text-align: center !important;
}
td[class=aside] {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
td[class=top_space] {
	padding-top: 20px !important;
}
td[class=bottom_space] {
	padding-bottom: 20px !important;
}
td[class=hide] {
	display: none !important;
}
td[class=bg_grey] {
	display: none !important;
}
td[class=side] {
	width: 15px !important;
}
td[class=white_text] {
	text-align: center !important;
}
}
</style>
</head>
<body marginwidth="0" marginheight="0"  style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" topmargin="0" leftmargin="0" bgcolor="#ffffff">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><table width="700" border="0" align="center" cellpadding="0" cellspacing="0" class="main_table">
        <tr>
          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="hide" height="1" style="line-height:1px; min-width: 700px;"><img src="/images/spacer.gif" height="1" width="700" style="max-height:1px; min-height:1px; display:block; width:700px; min-width:700px;" border="0" /></td>
              </tr>
              
              <!--=== HEADER SECTION === -->
              <tr>
                <td height="10" style="font-size:1px;line-height:1px;">&nbsp;</td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                      <td width="25" class="hide">&nbsp;</td>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td><table width="342" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
                                <tr>
                                  <td align="left" class="Pre_header">Pre-header Text<br />
                                    If you can’t see this email? <a href="#" target="_blank">View Online</a></td>
                                </tr>
                              </table>
                              <table width="151" border="0" cellspacing="0" cellpadding="0" align="right" class="wrapper">
                                <tr>
                                  <td class="top_space"><table width="151" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="39"><img src="<%= user.image%>" width="39" height="40" class="img_1"  /></td>
                                        <td class="header_txt"><%= user.name%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                      <td width="25" class="hide">&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="10" style="font-size:1px;line-height:1px;">&nbsp;</td>
              </tr>
              <!--=== //HEADER SECTION === --> 
              
              <!--=== BODY SECTION === -->
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                      <td class="bg_col1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="25">&nbsp;</td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="25" class="side">&nbsp;</td>
                                  <td><table width="237" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
                                      <tr>
                                        <td align="center"><a href="#" target="_blank"><img src="/images/logo.png" alt="ruzu" width="237" height="78" class="img_1" /></a></td>
                                      </tr>
                                    </table>
                                    <table width="284" border="0" cellspacing="0" cellpadding="0" align="right" class="wrapper">
                                      <tr>
                                        <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr>
                                              <td height="10" class="line_height1">&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                  <tr>
                                                    <td width="1" class="bg_white"></td>
                                                    <td width="8">&nbsp;</td>
                                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                        <tr>
                                                          <td align="center"><table width="275" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper" >
                                                              <tr>
                                                                <td align="center"><table width="165" border="0" cellspacing="0" cellpadding="0" align="center">
                                                                    <tr>
                                                                      <td width="19"><img src="/images/img.png" width="19" height="23" class="img_1"/></td>
                                                                      <td width="8">&nbsp;</td>
                                                                      <td class="white_tex1"><%=dateString%></td>
                                                                    </tr>
                                                                  </table></td>
                                                                <td width="110" class="hide">&nbsp;</td>
                                                              </tr>
                                                            </table></td>
                                                        </tr>
                                                        <tr>
                                                          <td class="white_text">Offer for <%=user.name%></td>
                                                        </tr>
                                                      </table></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table></td>
                                  <td width="25" class="side">&nbsp;</td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td height="25">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="34">&nbsp;</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="20"><img src="/images/img2.png" width="20" height="23" class="img_1"/></td>
                                        <td width="8">&nbsp;</td>
                                        <td class="title1"><%=offer.header_title%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="10" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td class="text1"><%=offer.header_text%></td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="34">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="bg_orange"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td height="15" class="line_height1">&nbsp;</td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0"  align="center"  >
                                <tr>
                                  <td width="25" class="side">&nbsp;</td>
                                  <td class="text2"><%=offer.offer_title%></td>
                                  <td width="25" class="side">&nbsp;</td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td height="15" class="line_height1">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="34">&nbsp;</td>
                    </tr>
                    <%for(i in offer.products){%>
                    	<tr>
	                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	                          <tr>
	                            <td width="25" class="side">&nbsp;</td>
	                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	                                <tr>
	                                  <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	                                      <tr>
	                                        <td valign="top"><table width="132" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
	                                            <tr>
	                                              <td valign="top" align="center"><table width="131" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                  <tr>
	                                                    <td align="center" id="ofr-img-<%=i%>"></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="18" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
	                                                        <tr>
	                                                          <td align="center"><table width="121" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                              <tr>
	                                                                <td height="1" class="bg_red">&nbsp;</td>
	                                                              </tr>
	                                                              <tr>
	                                                                <td><table width="121" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                                    <tr>
	                                                                      <td width="1" class="bg_red"></td>
	                                                                      <td width="96" class="bg_red1"><%=offer.products[i].other_scores[0].reviewer%></td>
	                                                                      <td width="23" class="bg_red2"><%=offer.products[i].other_scores[0].score%></td>
	                                                                      <td width="1" class="bg_red"></td>
	                                                                    </tr>
	                                                                  </table></td>
	                                                              </tr>
	                                                              <tr>
	                                                                <td height="1" class="bg_red">&nbsp;</td>
	                                                              </tr>
	                                                            </table></td>
	                                                          <td width="10" class="hide">&nbsp;</td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="4" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
	                                                        <tr>
	                                                          <td align="center"><table width="121" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                              <tr>
	                                                                <td height="1" class="bg_red">&nbsp;</td>
	                                                              </tr>
	                                                              <tr>
	                                                                <td><table width="121" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                                    <tr>
	                                                                      <td width="1" class="bg_red"></td>
	                                                                      <td width="96" class="bg_red1"><%=offer.products[i].other_scores[1].reviewer%></td>
	                                                                      <td width="23" class="bg_red2"><%=offer.products[i].other_scores[1].score%></td>
	                                                                      <td width="1" class="bg_red"></td>
	                                                                    </tr>
	                                                                  </table></td>
	                                                              </tr>
	                                                              <tr>
	                                                                <td height="1" class="bg_red">&nbsp;</td>
	                                                              </tr>
	                                                            </table></td>
	                                                          <td width="10" class="hide">&nbsp;</td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                </table></td>
	                                              <td width="1" class="bg_grey"></td>
	                                            </tr>
	                                          </table>
	                                            <!--[if gte mso 9]>
	                                                </td>
	                                                <td valign="top">
	                                            <![endif]--> <table width="406" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
	                                            <tr>
	                                              <td width="10" class="hide">&nbsp;</td>
	                                              <td valign="top" class="top_space"><table width="396" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
	                                                  <tr>
	                                                    <td class="title2"><%=offer.products[i].name%></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="3" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td class="text3"><%=offer.products[i].title%></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="6" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td><table width="396" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
	                                                        <tr>
	                                                          <td width="32" valign="top"><img src="<%=offer.products[i].region_icon%>" width="32" height="22"class="img_1" /></td>
	                                                          <td width="8">&nbsp;</td>
	                                                          <td class="text4"><%=offer.products[i].region_text%></td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="6" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td class="text5"><%=offer.products[i].description%></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="6" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td class="bg_col1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
	                                                        <tr>
	                                                          <td height="6" class="line_height1">&nbsp;</td>
	                                                        </tr>
	                                                        <tr>
	                                                          <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                              <tr>
	                                                                <td width="20" class="hide">&nbsp;</td>
	                                                                <td width="5">&nbsp;</td>
	                                                                <td width="158" class="border_btn1"><table width="158" border="0" cellspacing="0" cellpadding="0"  class="wrapper">
	                                                                    <tr>
	                                                                      <td width="150" valign="middle" class="border_btn" ><table width="150" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
	                                                                          <tr>
	                                                                            <td class="side_2">&nbsp;</td>
	                                                                            <td height="19" width="20"><a href="#" target="_blank"><img src="/images/img5.png" width="20" height="19"  class="img_1"/></a></td>
	                                                                            <td width="3">&nbsp;</td>
	                                                                            <td width="100" class="width_td"><a href="#" target="_blank">NEW ORDERS</a></td>
	                                                                          </tr>
	                                                                        </table></td>
	                                                                    </tr>
	                                                                  </table></td>
	                                                                <td width="30" class="side">&nbsp;</td>
	                                                                <td width="158"  class="border_btn1"><table width="158" border="0" cellspacing="0" cellpadding="0" class="wrapper">
	                                                                    <tr>
	                                                                      <td width="150" valign="middle" class="border_btn" ><table width="150" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
	                                                                          <tr>
	                                                                            <td class="side_2">&nbsp;</td>
	                                                                            <td height="19" width="20"><a href="#" target="_blank"><img src="/images/img6.png" width="20" height="19"  class="img_1"/></a></td>
	                                                                            <td width="3">&nbsp;</td>
	                                                                            <td width="100"  class="width_td"><a href="#" target="_blank">COMMENTS</a></td>
	                                                                          </tr>
	                                                                        </table></td>
	                                                                    </tr>
	                                                                  </table></td>
	                                                                <td width="5">&nbsp;</td>
	                                                                <td width="20" class="hide">&nbsp;</td>
	                                                              </tr>
	                                                            </table></td>
	                                                        </tr>
	                                                        <tr>
	                                                          <td height="6" class="line_height1">&nbsp;</td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                </table></td>
	                                            </tr>
	                                          </table>
	                                            <!--[if gte mso 9]>
	                                                </td>
	                                                <td valign="top">
	                                            <![endif]--> <table width="112" border="0" cellspacing="0" cellpadding="0" align="right" class="wrapper">
	                                            <tr>
	                                              <td width="12" class="hide">&nbsp;</td>
	                                              <td width="1" class="bg_grey"></td>
	                                              <td width="10" class="hide">&nbsp;</td>
	                                              <td valign="top" class="top_space"><table width="89" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                  <tr>
	                                                    <td align="center"><table width="39" border="0" cellspacing="0" cellpadding="0" align="center" >
	                                                        <tr>
	                                                          <td class="round1"><%=offer.products[i].score%></td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td class="point_txt">Points</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="23">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td align="right" class="price3"><%=offer.products[i].list_price%></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="8" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="1" class="bg_grey1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="8" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td align="right" class="price1"><%=offer.products[i].discount_pct%>% off</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="8" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="1" class="bg_grey1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="8" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td align="right" class="price2">$<%=offer.products[i].actual_price%></td>
	                                                  </tr>
	                                                </table></td>
	                                            </tr>
	                                          </table></td>
	                                      </tr>
	                                    </table></td>
	                                </tr>
	                                <tr>
	                                  <td height="28" class="border1">&nbsp;</td>
	                                </tr>
	                              </table></td>
	                            <td width="25" class="side">&nbsp;</td>
	                          </tr>
	                        </table></td>
	                    </tr>
	                    <tr>
	                      <td height="38">&nbsp;</td>
	                    </tr>
                    <%}%>
                 
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="100" class="title3">Subtotal</td>
                                        <td class="hide">&nbsp;</td>
                                        <td width="120" class="title4"><%=offer.totals.subtotal%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td  height="1" class="bg_grey1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="100" class="title3">Sales Tax</td>
                                        <td class="hide">&nbsp;</td>
                                        <td width="120" class="title4">$<%=offer.totals.sales_tax%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td  height="1" class="bg_grey1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="100" class="title3">Shipping</td>
                                        <td class="hide">&nbsp;</td>
                                        <td width="120" class="title4">$<%=offer.totals.shipping%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td  height="1" class="bg_grey1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td height="7" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="100" class="title3">Total</td>
                                        <td class="hide">&nbsp;</td>
                                        <td width="120" class="title5">$<%=offer.totals.total%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="34" class="border1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="32">&nbsp;</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="25"><img src="/images/img9.png" width="25" height="25" class="img_1"/></td>
                                        <td class="title1">This offer is from <%=offer.source.name%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="25">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td valign="top"><table width="316" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
                                           <tr>
                                              <td align="center"><a href="#" target="_blank">
                                              	<div id="map-canvas" style="width:100%; height:148px"></div>
                                              </a></td>
                                            </tr>
                                          </table>
                                          <table width="322" border="0" cellspacing="0" cellpadding="0" align="right" class="wrapper">
                                            <tr>
                                              <td class="top_space"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td class="text_ft"><%=offer.source.name%></td>
                                                  </tr>
                                                  <tr>
                                                    <td height="14" class="line_height1">&nbsp;</td>
                                                  </tr>
                                                  <tr>
                                                    <td height="1" class="bg_grey1">&nbsp;</td>
                                                  </tr>
                                                  <tr>
                                                    <td height="18" class="line_height1">&nbsp;</td>
                                                  </tr>
                                                  <tr>
                                                    <td class="text_ft1"><%=offer.source.city_state%><br />
                                                      <br />
                                                      <%=offer.source.phone%><br />
                                                      <br />
                                                      <a href="http://www.klwines.com" target="_blank"><%=offer.source.url%></a></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="40">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td class="bg_green"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td height="12" class="line_height1">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td align="center" valign="top"><table width="101" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr>
                                              <td width="24"><a href="#" target="_blank"><img src="/images/img11.png" width="24" height="19" class="img_1"/></a></td>
                                              <td class="white_tex2"><a href="<%=offer.buy_link%>" target="_blank">Buy This</a></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td height="12" class="line_height1">&nbsp;</td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="18" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td class="text_ft2"><a href="#" target="_blank">You Can Change Your Offer Preferences Here</a></td>
                                </tr>
                                <tr>
                                  <td height="18" class="line_height1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td class="bg_footer"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="15" class="line_height1">&nbsp;</td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td width="25" class="side">&nbsp;</td>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="text_footer1">&copy; 2014 Cruzu&nbsp;&nbsp;<span class="text_footer2">|</span>&nbsp;&nbsp;<a href="http://www.Cruzu.com" target="_blank">www.Cruzu.com</a>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td height="14" class="line_height1">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td height="1" class="bg_grey12">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td height="18" class="line_height1">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="text_footer3">If you do not want to receive future emails please click to <a href="#" target="_blank">unsubscribe.</a></td>
                                      </tr>
                                    </table></td>
                                  <td width="25" class="side">&nbsp;</td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td height="15" class="line_height1">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
              <!--=== //BODY SECTION === -->
              
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu6tm60TzeUo9rWpLnrQ7mrFn4JPMVje4&amp;sensor=false"></script>
<script type="text/javascript">
	function initMap(lat,lng){

        var myLatlng = new google.maps.LatLng(lat ,lng);

         var mapOptions = {
            zoom: 8,
            center: myLatlng
          };

          var map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
          console.log(map);
          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'Hello World!'
          });
          marker.setMap(map);
    }

    initMap(<%=offer.source.location[0]%>,<%=offer.source.location[1]%>)
</script>

<% for(i in offer.products){%>
	<script type="text/javascript">
	var m<%=i%> = 0;
	var images<%=i%> = "<%=offer.products[i].sensory_images%>";
	images<%=i%> = images<%=i%>.split(",");
	function setImageIn<%=i%>(){
		setTimeout(function(){
			//document.getElementById("ofr-img-<%=i%>").style.background = '<img src="'+images<%=i%>[parseInt(m<%=i%>%images<%=i%>.length)]+'" alt="" width="131" height="125" class="img_1"/>';

			document.getElementById("ofr-img-<%=i%>").style.backgroundImage="url('"+images<%=i%>[parseInt(m<%=i%>%images<%=i%>.length)]+"')";
			m<%=i%>++;
			setImageIn<%=i%>();
		}, 5000);
	}

	document.getElementById("ofr-img-<%=i%>").style.backgroundImage="url('"+images<%=i%>[parseInt(m<%=i%>%images<%=i%>.length)]+"')";
	m<%=i%>++;
	setImageIn<%=i%>();
	</script>

	<style type="text/css">
	#ofr-img-<%=i%>{
		  width: 131px; 
		  height: 125px; 
		  overflow: hidden;
		  background-size: cover;
		  background-position: center center;
	}
	</style>
	<%}%>

</body>
</html>
