<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<title>RUZU</title>
</head>
<body marginwidth="0" marginheight="0"  style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" topmargin="0" leftmargin="0" bgcolor="#ffffff">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><table width="700" border="0" align="center" cellpadding="0" cellspacing="0" class="main_table">
        <tr>
          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="hide" height="1" style="line-height:1px; min-width: 700px;"><img src="http://162.222.227.147:5000/images/spacer.gif" height="1" width="700" style="max-height:1px; min-height:1px; display:block; width:700px; min-width:700px;" border="0" /></td>
              </tr>
              
              <!--=== HEADER SECTION === -->
              <tr>
                <td height="10" style="font-size:1px;line-height:1px;">&nbsp;</td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                      <td width="25" class="hide">&nbsp;</td>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td><table width="342" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
                                <tr>
                                  <td align="left" class="Pre_header">Pre-header Text<br />
                                    If you can’t see this email? <a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank">View Online</a></td>
                                </tr>
                              </table>
                              <table width="151" border="0" cellspacing="0" cellpadding="0" align="right" class="wrapper">
                                <tr>
                                  <td class="top_space"><table width="151" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="39"><img src="<%= user.image%>" width="39" height="40" class="img_1"  /></td>
                                        <td class="header_txt"><%= user.name%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                      <td width="25" class="hide">&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="10" style="font-size:1px;line-height:1px;">&nbsp;</td>
              </tr>
              <!--=== //HEADER SECTION === --> 
              
              <!--=== BODY SECTION === -->
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                      <td class="bg_col1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="25">&nbsp;</td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="25" class="side">&nbsp;</td>
                                  <td><table width="237" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
                                      <tr>
                                        <td align="center">
                                        	<a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank">
                                        		<img src="http://162.222.227.147:5000/images/logo.png" width="237" height="78" class="img_1" />
                                        	</a>
                                        </td>
                                      </tr>
                                    </table>
                                    <table width="284" border="0" cellspacing="0" cellpadding="0" align="right" class="wrapper">
                                      <tr>
                                        <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr>
                                              <td height="10" class="line_height1">&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                  <tr>
                                                    <td width="1" class="bg_white"></td>
                                                    <td width="8">&nbsp;</td>
                                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                        <tr>
                                                          <td align="center"><table width="275" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper" >
                                                              <tr>
                                                                <td align="center"><table width="165" border="0" cellspacing="0" cellpadding="0" align="center">
                                                                    <tr>
                                                                      <td width="19"><img src="http://162.222.227.147:5000/images/img.png" width="19" height="23" class="img_1"/></td>
                                                                      <td width="8">&nbsp;</td>
                                                                      <td class="white_tex1"><%=dateString%></td>
                                                                    </tr>
                                                                  </table></td>
                                                                <td width="110" class="hide">&nbsp;</td>
                                                              </tr>
                                                            </table></td>
                                                        </tr>
                                                        <tr>
                                                          <td class="white_text">Offer for <%=user.name%></td>
                                                        </tr>
                                                      </table></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table></td>
                                  <td width="25" class="side">&nbsp;</td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td height="25">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="34">&nbsp;</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="20"><img src="http://162.222.227.147:5000/images/img2.png" width="20" height="23" class="img_1"/></td>
                                        <td width="8">&nbsp;</td>
                                        <td class="title1"><%=offer.header_title%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="10" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td class="text1"><%=offer.header_text%></td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="34">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="bg_orange"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td height="15" class="line_height1">&nbsp;</td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0"  align="center"  >
                                <tr>
                                  <td width="25" class="side">&nbsp;</td>
                                  <td class="text2"><%=offer.offer_title%></td>
                                  <td width="25" class="side">&nbsp;</td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td height="15" class="line_height1">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="34">&nbsp;</td>
                    </tr>
                    <%for(i in offer.products){%>
                    	<tr>
	                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	                          <tr>
	                            <td width="25" class="side">&nbsp;</td>
	                            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	                                <tr>
	                                  <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	                                      <tr>
	                                        <td valign="top"><table width="132" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
	                                            <tr>
	                                              <td valign="top" align="center"><table width="131" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                  <tr>
	                                                    <td align="center" id="ofr-img-<%=i%>" style="height:203px;">
	                                                    <img src="<%=offer.products[i].product_image %>" width="100%" height="auto">
	                                                    </td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="18" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
	                                                        <tr>
	                                                          <td align="center"><table width="121" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                              <tr>
	                                                                <td height="1" class="bg_red">&nbsp;</td>
	                                                              </tr>
	                                                              <tr>
	                                                                <td><table width="121" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                                    <tr>
	                                                                      <td width="1" class="bg_red"></td>
	                                                                      <td width="96" class="bg_red1"><%=offer.products[i].other_scores[0].reviewer%></td>
	                                                                      <td width="23" class="bg_red2"><%=offer.products[i].other_scores[0].score%></td>
	                                                                      <td width="1" class="bg_red"></td>
	                                                                    </tr>
	                                                                  </table></td>
	                                                              </tr>
	                                                              <tr>
	                                                                <td height="1" class="bg_red">&nbsp;</td>
	                                                              </tr>
	                                                            </table></td>
	                                                          <td width="10" class="hide">&nbsp;</td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="4" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
	                                                        <tr>
	                                                          <td align="center"><table width="121" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                              <tr>
	                                                                <td height="1" class="bg_red">&nbsp;</td>
	                                                              </tr>
	                                                              <tr>
	                                                                <td><table width="121" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                                    <tr>
	                                                                      <td width="1" class="bg_red"></td>
	                                                                      <td width="96" class="bg_red1"><%=offer.products[i].other_scores[1].reviewer%></td>
	                                                                      <td width="23" class="bg_red2"><%=offer.products[i].other_scores[1].score%></td>
	                                                                      <td width="1" class="bg_red"></td>
	                                                                    </tr>
	                                                                  </table></td>
	                                                              </tr>
	                                                              <tr>
	                                                                <td height="1" class="bg_red">&nbsp;</td>
	                                                              </tr>
	                                                            </table></td>
	                                                          <td width="10" class="hide">&nbsp;</td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                </table></td>
	                                              <td width="1" class="bg_grey"></td>
	                                            </tr>
	                                          </table>
	                                            <!--[if gte mso 9]>
	                                                </td>
	                                                <td valign="top">
	                                            <![endif]--> <table width="406" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
	                                            <tr>
	                                              <td width="10" class="hide">&nbsp;</td>
	                                              <td valign="top" class="top_space"><table width="396" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
	                                                  <tr>
	                                                    <td class="title2"><%=offer.products[i].name%></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="3" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td class="text3"><%=offer.products[i].title%></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="6" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td><table width="396" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
	                                                        <tr>
	                                                          <td width="32" valign="top"><img src="<%=offer.products[i].region_icon%>" width="32" height="22"class="img_1" /></td>
	                                                          <td width="8">&nbsp;</td>
	                                                          <td class="text4"><%=offer.products[i].region_text%></td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="6" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td class="text5"><%=offer.products[i].description%></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="6" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td class="bg_col1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
	                                                        <tr>
	                                                          <td height="6" class="line_height1">&nbsp;</td>
	                                                        </tr>
	                                                        <tr>
	                                                          <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                              <tr>
	                                                                <td width="20" class="hide">&nbsp;</td>
	                                                                <td width="5">&nbsp;</td>
	                                                                <td width="158" class="border_btn1"><table width="158" border="0" cellspacing="0" cellpadding="0"  class="wrapper">
	                                                                    <tr>
	                                                                      <td width="150" valign="middle" class="border_btn" ><table width="150" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
	                                                                          <tr>
	                                                                            <td class="side_2">&nbsp;</td>
	                                                                            <td height="19" width="20"><a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank"><img src="http://162.222.227.147:5000/images/img5.png" width="20" height="19"  class="img_1"/></a></td>
	                                                                            <td width="3">&nbsp;</td>
	                                                                            <td width="100" class="width_td"><a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank">NEW ORDERS</a></td>
	                                                                          </tr>
	                                                                        </table></td>
	                                                                    </tr>
	                                                                  </table></td>
	                                                                <td width="30" class="side">&nbsp;</td>
	                                                                <td width="158"  class="border_btn1"><table width="158" border="0" cellspacing="0" cellpadding="0" class="wrapper">
	                                                                    <tr>
	                                                                      <td width="150" valign="middle" class="border_btn" ><table width="150" border="0" cellspacing="0" cellpadding="0" align="center" class="wrapper">
	                                                                          <tr>
	                                                                            <td class="side_2">&nbsp;</td>
	                                                                            <td height="19" width="20"><a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank"><img src="http://162.222.227.147:5000/images/img6.png" width="20" height="19"  class="img_1"/></a></td>
	                                                                            <td width="3">&nbsp;</td>
	                                                                            <td width="100"  class="width_td"><a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank">COMMENTS</a></td>
	                                                                          </tr>
	                                                                        </table></td>
	                                                                    </tr>
	                                                                  </table></td>
	                                                                <td width="5">&nbsp;</td>
	                                                                <td width="20" class="hide">&nbsp;</td>
	                                                              </tr>
	                                                            </table></td>
	                                                        </tr>
	                                                        <tr>
	                                                          <td height="6" class="line_height1">&nbsp;</td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                </table></td>
	                                            </tr>
	                                          </table>
	                                            <!--[if gte mso 9]>
	                                                </td>
	                                                <td valign="top">
	                                            <![endif]--> <table width="112" border="0" cellspacing="0" cellpadding="0" align="right" class="wrapper">
	                                            <tr>
	                                              <td width="12" class="hide">&nbsp;</td>
	                                              <td width="1" class="bg_grey"></td>
	                                              <td width="10" class="hide">&nbsp;</td>
	                                              <td valign="top" class="top_space"><table width="89" border="0" cellspacing="0" cellpadding="0" align="center">
	                                                  <tr>
	                                                    <td align="center"><table width="39" border="0" cellspacing="0" cellpadding="0" align="center" >
	                                                        <tr>
	                                                          <td class="round1"><%=offer.products[i].score%></td>
	                                                        </tr>
	                                                      </table></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td class="point_txt">Points</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="23">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td align="right" class="price3"><%=offer.products[i].list_price%></td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="8" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="1" class="bg_grey1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="8" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td align="right" class="price1"><%=offer.products[i].discount_pct%>% off</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="8" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="1" class="bg_grey1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td height="8" class="line_height1">&nbsp;</td>
	                                                  </tr>
	                                                  <tr>
	                                                    <td align="right" class="price2">$<%=offer.products[i].actual_price%></td>
	                                                  </tr>
	                                                </table></td>
	                                            </tr>
	                                          </table></td>
	                                      </tr>
	                                    </table></td>
	                                </tr>
	                                <tr>
	                                  <td height="28" class="border1">&nbsp;</td>
	                                </tr>
	                              </table></td>
	                            <td width="25" class="side">&nbsp;</td>
	                          </tr>
	                        </table></td>
	                    </tr>
	                    <tr>
	                      <td height="38">&nbsp;</td>
	                    </tr>
                    <%}%>
                 
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="100" class="title3">Subtotal</td>
                                        <td class="hide">&nbsp;</td>
                                        <td width="120" class="title4"><%=offer.totals.subtotal%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td  height="1" class="bg_grey1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="100" class="title3">Sales Tax</td>
                                        <td class="hide">&nbsp;</td>
                                        <td width="120" class="title4">$<%=offer.totals.sales_tax%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td  height="1" class="bg_grey1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="100" class="title3">Shipping</td>
                                        <td class="hide">&nbsp;</td>
                                        <td width="120" class="title4">$<%=offer.totals.shipping%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="13" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td  height="1" class="bg_grey1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td height="7" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="100" class="title3">Total</td>
                                        <td class="hide">&nbsp;</td>
                                        <td width="120" class="title5">$<%=offer.totals.total%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="34" class="border1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="32">&nbsp;</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td width="25" class="side">&nbsp;</td>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td width="25"><img src="http://162.222.227.147:5000/images/img9.png" width="25" height="25" class="img_1"/></td>
                                        <td class="title1">This offer is from <%=offer.source.name%></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="25">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td valign="top"><table width="316" border="0" cellspacing="0" cellpadding="0" align="left" class="wrapper">
                                           <tr>
                                              <td align="center"><a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank">
                                              	<img src="https://maps.googleapis.com/maps/api/staticmap?&zoom=12&size=400x150&maptype=roadmap&markers=color:red|<%=offer.source.location[1]%>,<%=offer.source.location[0]%>&key=AIzaSyAu6tm60TzeUo9rWpLnrQ7mrFn4JPMVje4" style="width:100%; height:148px" />
                                              </a></td>
                                            </tr>
                                          </table>
                                          <table width="322" border="0" cellspacing="0" cellpadding="0" align="right" class="wrapper">
                                            <tr>
                                              <td class="top_space"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td class="text_ft"><%=offer.source.name%></td>
                                                  </tr>
                                                  <tr>
                                                    <td height="14" class="line_height1">&nbsp;</td>
                                                  </tr>
                                                  <tr>
                                                    <td height="1" class="bg_grey1">&nbsp;</td>
                                                  </tr>
                                                  <tr>
                                                    <td height="18" class="line_height1">&nbsp;</td>
                                                  </tr>
                                                  <tr>
                                                    <td class="text_ft1"><%=offer.source.city_state%><br />
                                                      <br />
                                                      <%=offer.source.phone%><br />
                                                      <br />
                                                      <a href="http://www.klwines.com" target="_blank"><%=offer.source.url%></a></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="40">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td class="bg_green"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr>
                                        <td height="12" class="line_height1">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td align="center" valign="top"><table width="101" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr>
                                              <td width="24"><a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank"><img src="http://162.222.227.147:5000/images/img11.png" width="24" height="19" class="img_1"/></a></td>
                                              <td class="white_tex2"><a href="<%=offer.buy_link%>" target="_blank">Buy This</a></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td height="12" class="line_height1">&nbsp;</td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr>
                                  <td height="18" class="line_height1">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td class="text_ft2"><a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank">You Can Change Your Offer Preferences Here</a></td>
                                </tr>
                                <tr>
                                  <td height="18" class="line_height1">&nbsp;</td>
                                </tr>
                              </table></td>
                            <td width="25" class="side">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td class="bg_footer"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="15" class="line_height1">&nbsp;</td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                  <td width="25" class="side">&nbsp;</td>
                                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td class="text_footer1">&copy; 2014 Cruzu&nbsp;&nbsp;<span class="text_footer2">|</span>&nbsp;&nbsp;<a href="http://www.Cruzu.com" target="_blank">www.Cruzu.com</a>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td height="14" class="line_height1">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td height="1" class="bg_grey12">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td height="18" class="line_height1">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="text_footer3">If you do not want to receive future emails please click to <a href="http://162.222.227.147:5000/#/recentoffer/user/<%=user._id%>/offer/<%=offer._id%>" target="_blank">unsubscribe.</a></td>
                                      </tr>
                                    </table></td>
                                  <td width="25" class="side">&nbsp;</td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td height="15" class="line_height1">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
              <!--=== //BODY SECTION === -->
              
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
