body {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border: none;
	line-height: normal;
	outline: none;
	list-style: none;
	mso-line-height-rule: exactly;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
a {
	mso-line-height-rule: exactly;
}
.offr-btn { color: #fefefe; text-decoration: none; }
.offr-btn:hover, .offr-btn:focus { color: #fefefe; text-decoration: none; }
.btn-buy { color: #ffffff; text-decoration: none; }
.btn-buy:hover, .btn-buy:focus { color: #ffffff; text-decoration: none; }
.subtitl { font-size: 16px; }
.offr-desc { height: 150px; }
.null { background-color: transparent !important; }
.null { visibility: hidden; text-indent: -9999px; }
table {
	border-collapse: collapse !important;
	padding: 0px !important;
	border: none !important;
	border-bottom-width: 0px !important;
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
}
table td {
	border-collapse: collapse;
}
body {
	margin: 0px;
	padding: 0px;
}
.ExternalClass * {
	line-height: 100%;
}
.white_tex1 a {
	text-decoration: none;
	color: #ffffff;
}
.blue a {
	text-decoration: underline;
	color: #009bff;
}
.Pre_header {
	color: #404040 !important;
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	
	line-height: 18px !important;
}
.Pre_header a:link {
	color: #e74c3c !important;
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	text-decoration: underline !important;
}
.header_txt {
	color: #33485c !important;
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	text-align: right !important;
	vertical-align: middle !important;
}
.img_1 {
	display: block !important;
	border: none !important;
}
.img_2 {
	display: inline !important;
	border: none !important;
}
.bg_col1 {
	background-color: #33485c !important;
}
.bg_orange {
	background-color: #e74c3c !important;
}
.bg_footer {
	background-color: #dbdbdb !important;
}
.bg_red {
	background-color: #e74c3c !important;
	font-size: 1px !important;
	line-height: 1px !important;
}
.bg_red1 {
	background-color: #e74c3c !important;
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	color: #ffffff !important;
	height: 20px !important;
	text-align: center !important;
	text-decoration: none !important;
	vertical-align: middle !important;
}
.bg_red2 {
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	color: #e74c3c !important;
	height: 20px !important;
	text-align: center !important;
	text-decoration: none !important;
	vertical-align: middle !important;
}
.line_height1 {
	font-size: 1px !important;
	line-height: 1px !important;
}
.bg_white {
	background-color: #ffffff !important;
}
.bg_green {
	background-color: #5cb85c !important;
}
.bg_grey {
	background-color: #dddddd !important;
	height: 189px !important;
}
.bg_grey1 {
	background-color: #dddddd !important;
	font-size: 1px !important;
	line-height: 1px !important;
}
.bg_grey12 {
	background-color: #d0d0d0 !important;
	font-size: 1px !important;
	line-height: 1px !important;
}
.white_text {
	color: #ffffff !important;
	font-size: 20px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	line-height: 26px !important;
}
.white_tex1 {
	color: #ffffff !important;
	font-size: 14px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	line-height: 18px !important;
}
.white_tex2 {
	color: #ffffff !important;
	font-size: 16px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	line-height: 19px !important;
}
.white_tex2 a:link {
	color: #ffffff !important;
	font-size: 16px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	line-height: 19px !important;
	text-decoration: none !important;
}
.title1 {
	color: #21303e !important;
	font-size: 20px !important;
	line-height: 24px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.text1 {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 18px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: top !important;
}
.text2 {
	color: #ffffff !important;
	font-size: 18px !important;
	line-height: 21px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.border1 {
	border-bottom: 1px #cfcfcf dashed !important;
}
.title2 {
	color: #33485c !important;
	font-size: 16px !important;
	line-height: 19px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.text3 {
	color: #33485c !important;
	line-height: 15px !important;
	font-style: italic !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.text4 {
	color: #e74c3c !important;
	font-size: 12px !important;
	line-height: 15px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.text5 {
	color: #3d3d3d !important;
	font-size: 13px !important;
	line-height: 16.7px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: top !important;
}
.border_btn {
	text-align: left !important;
	vertical-align: central !important;
	border-radius: 4px !important;
	color: #fefefe !important;
	border: 1px solid #99a4ae !important;
	display: inline-block !important;
	padding: 3px !important;
}
.border_btn a:link {
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	color: #fefefe !important;
	text-decoration: none !important;
	display: inline-block !important;
	padding: 3px !important;
}
.round1 {
	border-radius: 38px !important;
	height: 40px !important;
	font-size: 13px !important;
	color: #ffffff !important;
	font-family: Arial, sans-serif !important;
	background-color: #e74c3c !important;
	text-align: center !important;
	vertical-align: middle !important;
}
.point_txt {
	color: #33485c !important;
	font-size: 13px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	line-height: 22px !important;
	vertical-align: middle !important;
}
.price1 {
	color: #21303e !important;
	font-size: 20px !important;
	font-family: Arial, sans-serif !important;
	
	height: 40px !important;
	vertical-align: middle !important;
}
.price2 {
	color: #e74c3c !important;
	font-size: 28px !important;
	font-family: Arial, sans-serif !important;
	padding-top: 5px;
	height: 0 !important;
	vertical-align: middle !important;
	font-weight: bold !important;
}
.price3 {
	color: #21303e !important;
	font-size: 20px !important;
	font-family: Arial, sans-serif !important;
	padding-top: 31px;
	height: 45px !important;
	vertical-align: middle !important;
	text-decoration: line-through !important;
}
.title3 {
	color: #21303e !important;
	font-size: 18px !important;
	line-height: 22px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: middle !important;
}
.title4 {
	color: #21303e !important;
	font-size: 16px !important;
	line-height: 22px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: right !important;
	vertical-align: middle !important;
}
.title5 {
	color: #e9662c !important;
	font-size: 28px !important;
	line-height: 32px !important;
	font-weight: bold !important;
	font-family: Arial, sans-serif !important;
	text-align: right !important;
	vertical-align: middle !important;
}
.text_ft {
	color: #3d3d3d !important;
	font-size: 16px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: top !important;
}
.text_ft1 {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-align: left !important;
	vertical-align: top !important;
}
.text_ft1 a:link {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-decoration: none !important;
}
.text_ft2 {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.text_ft2 a:link {
	color: #3d3d3d !important;
	font-size: 14px !important;
	line-height: 19px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
	text-decoration: underline !important;
}
.text_footer1 {
	color: #6f6f6f !important;
	font-size: 12px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.text_footer1 a:link {
	color: #6f6f6f !important;
	font-size: 12px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
	text-decoration: none !important;
}
.text_footer2 {
	color: #e9662c !important;
	font-size: 12px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.text_footer3 {
	color: #6f6f6f !important;
	font-size: 11px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
}
.text_footer3 a:link {
	color: #e9662c !important;
	font-size: 11px !important;
	line-height: 15px !important;
	font-family: Arial, sans-serif !important;
	text-align: center !important;
	vertical-align: top !important;
	text-decoration: underline !important;
}
 @media only screen and (max-width:480px) {
table[class=wrapper] {
	width: 100% !important;
}
td[class=width_td] {
	width: 70px !important;
}
td[class=bg_grey] {
	display: none !important;
}
table[class=main_table] {
	width: 320px !important;
}
td[class=white_text] {
	text-align: center !important;
}
td[class=Pre_header] {
	text-align: center !important;
}
td[class=price1] {
	text-align: center !important;
}
td[class=price2] {
	text-align: center !important;
}
td[class=price3] {
	text-align: center !important;
}
td[class=hide] {
	display: none !important;
}
td[class=border_btn] {
	width: 130px !important;
}
td[class=border_btn1] {
	width: 150px !important;
}
table[class=border_btn] {
	width: 130px !important;
}
td[class=bg_white] {
	display: none !important;
}
td[class=aside] {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
td[class=side] {
	width: 15px !important;
}
td[class=side_2] {
	width: 10px !important;
}
td[class=top_space] {
	padding-top: 20px !important;
}
td[class=bottom10] {
	padding-bottom: 10px !important;
}
}
 @media only screen and (min-width:480px) and (max-width:599px) {
table[class=wrapper] {
	width: 100% !important;
}
td[class=price1] {
	text-align: center !important;
}
td[class=price2] {
	text-align: center !important;
}
table[class=main_table] {
	width: 480px !important;
}
td[class=Pre_header] {
	text-align: center !important;
}
td[class=bg_white] {
	display: none !important;
}
td[class=center] {
	text-align: center !important;
}
td[class=aside] {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
td[class=top_space] {
	padding-top: 20px !important;
}
td[class=bottom_space] {
	padding-bottom: 20px !important;
}
td[class=hide] {
	display: none !important;
}
td[class=bg_grey] {
	display: none !important;
}
td[class=side] {
	width: 15px !important;
}
td[class=white_text] {
	text-align: center !important;
}
}