<div class="wrapper">
    <div class="content container">
        <div class="page-header">
            <br><h1>About Us<span ng-show="false" class="announcement"><a href="mailto:michael@cruzu.com">We're
                hiring. Big data, MEAN stack and wine.</a></span></h1>
        </div>
        <p class="lead">
            We started on Cruzu the fall of 2013 when we finally admitted that we really weren't all that good at buying wine as consumers. Even
            though we had bought wine for 20 years, when we walked into a wine store or
            looked at the wine list there were lots of wines we weren't familiar with. Was 2002 the bad year in France or California? What in the world
            is Godello and is this is a good example? A modern wine store has over 1,000 wines and a restaurant wine list can have 100 or more. Great salespeople and somms
            can help, but they're often not available, can't possibly understand all our preferences and, well, they can be intimidating.
            </p>
        <p class="lead">What if we could enable those that
            really understood the wines to advise us no matter where we were? They'd understand our preferences and act as our personalized team of experts only when we needed them.
            We've been coding non-stop to make this a reality.

        </p>

            <div class="row text-center">
                <div class="items">
                    <div class="item text-center animate">
                        <div hover-transition class="expert">
                            <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/influencer_images/michael_brill.jpg"
                                 class="photo">
                            <div class="info">
                                <strong>Michael Brill</strong>
                                <a href="mailto:michael@cruzu.com">michael@cruzu.com</a>
                            <span>Previously, Michael was the founder of Crushpad - the world's largest urban winery. Before Crushpad, Michael founded several
                            enterprise software companies.</span>
                            </div>
                        </div>
                    </div>
                    <div class="item text-center animate">
                        <div hover-transition class="expert">
                            <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/influencer_images/thomaspng.jpg"
                                 class="photo">
                            <div class="info">
                                <strong>Thomas Bougetz</strong>
                                <a href="mailto:thomas@cruzu.com">thomas@cruzu.com</a>
                                <span>Thomas was VP Engineering and Ops for Crushpad, building social winemaking (Crushnet) and marketplace (Brixr) software. Previously, Thomas ran several engineering organizations.</span>
                            </div>
                        </div>
                    </div>
                    <div class="item text-center animate">
                        <div hover-transition class="expert">
                            <img src="images/expert.png" class="photo">
                            <div class="info">
                                <strong>Development Support</strong>
                                <span>KQ, PR, RS & NZ </span>
                                <span>We have some awesome software development support without which we'd be in sad shape. Thanks guys!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="lead">
                Before Cruzu, we worked together at Crushpad producing more wines than
                any other winery in the history of mankind and served as the launchpad for hundreds of wine brands.
                We had front-row seats to the
                challenges of selling wine to people overwhelmed by choice and created several sales-oriented sites,
                including Brixr - an "influencer marketplace"
                that was the inspiration for Cruzu.
            </p>

            <p class="lead">
                Although we have our hands full with wine, we believe we're on to something very big - advice as a
                new medium.
                When advice is injected into our everyday decisions and it becomes just as easy to make great
                decisions as mediocre ones, the world will become
                a much less noisy place and we should be that much happier with choice as freedom, not a burden.
            </p>

    </div>
</div>
