<div class="wrapper">
    <div class="content container">
        <div class="page">
            <h2 class="boards-heading">Guides</h2>
            <div class="app item app-item" ng-hide="app.hide" ng-repeat="app in apps">
                <a href="/#/apps/{{app._id}}">
                    <img ng-show="app.logo" src="{{app.logo}}" class="image">
                    <img ng-hide="app.logo" src="http://placehold.it/200x200" class="image">
                    <button type="button" ng-show="app.name"><h3>{{app.name}}</h3></button>
                    <button type="button" ng-hide="app.name"><h3>Edit Guide</h3></button>
                </a>
            </div>
            <div class="item app-item">
                <a href="" ng-click="add_app()">
                    <div class="new-item">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </div>
                    <button type="button"><h3>Add new guide</h3></button>
                </a>
            </div>
        </div>
    </div>
</div>
