<div class="wrapper">
    <div class="content container">
        <div class="page" id="app_editor">
            <div class="loading" ng-show="loading">Loading...</div>
            <form class="form-horizontal">
                <button ng-click="delete_app()" class="btn btn-default pull-right margin-bottom">Delete Guide</button>
                <section class="board-block col-md-10 col-md-offset-2">
                    <h3 class="boards-heading">Guide Info</h3>
                    <div class="form-group">
                        <label for="app_name" class="col-md-2 control-label"> Name:</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="app.name" class="form-control" placeholder="Name" id="app_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="app_logo" class="col-md-2 control-label"> Logo:</label>
                        <div class="col-md-9">
                            <div class="filepicker">
                                <img ng-show="app.logo" src="{{app.logo}}" class="image">
                                <img ng-hide="app.logo" src="http://www.placehold.it/200x200" class="image">
                                <a href="" ng-if="app.logo" ng-click="app.logo = ''" class="add-delete-icon red delete-image">
                                    <i class="glyphicon glyphicon-minus-sign" tooltip="Remove image"></i>
                                </a>
                                <a class="filepicker-hover" ng-click="pick_file(app, 'logo')">Change image</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="app_intro_content" class="col-md-2 control-label"> Intro Content:</label>
                        <div class="col-md-6">
                            <textarea type="text" ng-model="app.intro_content" class="form-control" placeholder="Intro Content" id="app_intro_content"></textarea>
                        </div>
                        <div>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="app.is_new_type" label="Is New Type" name="is_new_type">Is New Type?
                            </label>

                        </div>
                    </div>

                    <div class="form-group col-md-9">
                        <label class="col-md-2 control-label">Venues:</label>
                        <select ng-model="app.target_venue_type" class="form-control">
                            <option value="" disabled selected>Target venue type</option>
                            <option value="All Sources">All Sources</option>
                            <option value="Restaurant">Restaurant</option>
                            <option value="Retail">Retail</option>
                            <option value="Venue List">Venue List</option>
                        </select>
                    </div>


                    <div class="form-group" ng-show="app.target_venue_type=='Venue List'">
                        <div class="col-md-9">
                            <tags model="tags" src="venue._id as venue.name for venue in venues" id="app_venues"></tags>
                        </div>
                    </div>
                </section>


                <section class="board-block col-md-10 col-md-offset-2">
                    <h3 class="boards-heading">Pages</h3>
                    <tabset class="tabs">
                        <tab ng-repeat="page in app.pages" heading="{{page.title || 'Page ' + ($index + 1)}}">
                            <a href="" ng-click="delete_page($index)" class="add-delete-icon red">
                              <i class="glyphicon glyphicon-minus-sign" style="margin-right:10px;" tooltip="Delete page"></i>
                            </a>
                            <div class="form-group row">
                                <label for="app_page_{{$index}}_title" class="col-md-1 control-label">Title:</label>
                                <div class="col-md-5">
                                    <input type="text" ng-model="page.title" class="form-control" placeholder="Title" id="app_page_{{$index}}_title">
                                </div>
                                <div class="col-md-5">
                                    <button type="button" class="btn btn-default beacon-btn" ng-click="beacon_modal($index)">Beacon</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label">Image: (320x140)</label>
                                <div class="filepicker margin-left">
                                    <img ng-show="page.image" src="{{page.image}}" class="image">
                                    <img ng-hide="page.image" src="http://www.placehold.it/200x200" class="image">
                                    <a href="" ng-if="page.image" ng-click="page.image = ''" class="add-delete-icon red delete-image">
                                        <i class="glyphicon glyphicon-minus-sign" tooltip="Remove image"></i>
                                    </a>
                                    <a class="filepicker-hover" ng-click="pick_file(page, 'image')">Change image</a>
                                </div>
                            </div>

                            <div ng-repeat="card in page.block_list" ng-switch on="card.type" class="well card">
                                <a href="" ng-click="delete_card(page, $index)" class="add-delete-icon red">
                                    <i class="glyphicon glyphicon-minus-sign" tooltip="Delete card"></i>
                                </a>
                                <div class="order">
                                    <a href="" ng-click="move_up(page, $index)" ng-hide="$first"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a href="" ng-click="move_down(page, $index)" ng-hide="$last"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                </div>

                                <div class="form-group col-md-6">
                                    <select ng-model="card.type" class="form-control">
                                        <option value="" disabled selected>Type...</option>
                                        <option value="image">Image Card</option>
                                        <option value="text">Text Card</option>
                                        <option value="content">Content Card</option>
                                        <option value="agent">Advisor Card</option>
                                        <option value="navigation">Navigation Card</option>
                                    </select>
                                </div>

                                <div ng-switch-when="image">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <select ng-model="card.item_size" class="form-control" id="app_card_{{$index}}_size">
                                                <option value="" disabled selected>Size...</option>
                                                <option value="small">Small (620x140)</option>
                                                <option value="medium">Medium (620x280)</option>
                                                <option value="large">Large (620x420)</option>
                                                <option value="xl">XL (620x640)</option>
                                                <option value="jumbo">Jumbo (620x840)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="filepicker">
                                            <img ng-show="card.image" src="{{card.image}}" class="image">
                                            <img ng-hide="card.image" src="http://www.placehold.it/200x200" class="image">
                                            <a href="" ng-if="card.image" ng-click="card.image = ''" class="add-delete-icon red delete-image">
                                                <i class="glyphicon glyphicon-minus-sign" tooltip="Remove image"></i>
                                            </a>
                                            <a class="filepicker-hover" ng-click="pick_file(card, 'image')">Change image</a>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select type="text" class="form-control" ng-model="card.item_list[0].link_type">
                                            <option value="" disabled selected>Link...</option>
                                            <option value="null" selected>No Link</option>
                                            <option value="page">Page</option>
                                            <option value="agent">Agent</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-if="card.item_list[0].link_type == 'page'">
                                        <div class="col-md-3">
                                            <select type="text" ng-model="card.item_list[0].link_code" class="form-control" id="app_card_{{$index}}_page">
                                                <option value="" disabled selected>Page...</option>
                                                <option ng-repeat="page in app.pages" value="{{page.page_code}}">{{page.title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="card.item_list[0].link_type == 'agent'">
                                        <div class="col-md-4" ng-init="get_boards(card.item_list[0].link_code)">
                                            <select ng-model="card.item_list[0].link_code" class="form-control" 
                                                    ng-change="get_boards(card.item_list[0].link_code)"
                                                    ng-options="advisor.id as advisor.name for advisor in advisors">
                                                <option value="" disabled selected>Advisor...</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <select ng-model="card.item_list[0].link_board" class="form-control"
                                                    ng-options="board._id as board.name for board in boards[card.item_list[0].link_code]">
                                                <option value="" disabled selected>Board...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div ng-switch-when="text">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <select ng-model="card.item_size" class="form-control">
                                                <option value="" disabled selected>Size...</option>
                                                <option value="small">Small (620x140)</option>
                                                <option value="medium">Medium (620x280)</option>
                                                <option value="large">Large (620x420)</option>
                                                <option value="xl">XL (620x640)</option>
                                                <option value="jumbo">Jumbo (620x840)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Content" ng-model="card.content"></textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select ng-model="card.header_type" class="form-control">
                                            <option value="" disabled selected>Header type...</option>
                                            <option value="null">No header</option>
                                            <option value="text">Text</option>
                                            <option value="image">Image</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label style="font-weight:normal;">
                                                <input type="checkbox" ng-model="card.include_header_agent"> Include agent info in header
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="card.header_type == 'text'">
                                        <input type="text" ng-model="card.title" class="form-control" placeholder="Card Title">
                                    </div>
                                    <div class="form-group" ng-if="card.header_type == 'text'">
                                        <input type="text" ng-model="card.subtitle" class="form-control" placeholder="Subtitle">
                                    </div>
                                    <div class="form-group" ng-if="card.header_type == 'image'">
                                        <div class="filepicker">
                                            <img ng-show="card.header_image" src="{{card.header_image}}" class="image">
                                            <img ng-hide="card.header_image" src="http://www.placehold.it/200x200" class="image">
                                            <a href="" ng-if="card.header_image" ng-click="card.header_image = ''" class="add-delete-icon red delete-image">
                                                <i class="glyphicon glyphicon-minus-sign" tooltip="Remove image"></i>
                                            </a>
                                            <a class="filepicker-hover" ng-click="pick_file(card, 'header_image')">Change image</a>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4" ng-if="card.header_type == 'image'">
                                        <select ng-model="card.header_image_size" class="form-control">
                                            <option value="" disabled selected>Header size...</option>
                                            <option value="small">Small (620x140)</option>
                                            <option value="medium">Medium (620x280)</option>
                                            <option value="large">Large (620x420)</option>
                                            <option value="xl">XL (620x640)</option>
                                            <option value="jumbo">Jumbo (620x840)</option>
                                        </select>
                                    </div>
                                </div>

                                <div ng-switch-when="content">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <select ng-model="card.item_size" class="form-control">
                                                <option value="" disabled selected>Size...</option>
                                                <option value="small">Small (620x140)</option>
                                                <option value="medium">Medium (620x280)</option>
                                                <option value="large">Large (620x420)</option>
                                                <option value="xl">XL (620x640)</option>
                                                <option value="jumbo">Jumbo (620x840)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="HTML Content" ng-model="card.content"></textarea>
                                    </div>
                                </div>

                                <div ng-switch-when="agent">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <select ng-model="card.item_orientation" class="form-control">
                                                <option value="" disabled selected>Orientation...</option>
                                                <option value="horizontal">Horizontal</option>
                                                <option value="vertical">Vertical</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select ng-model="card.item_size" class="form-control">
                                                <option value="" disabled selected>Size...</option>
                                                <option value="small">Small</option>
                                                <option value="medium">Medium</option>
                                                <option value="large">Large</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3" ng-init="get_boards(card.agent)">
                                        <select ng-model="card.agent" class="form-control" ng-change="get_boards(card.agent)" 
                                                ng-options="advisor.id as advisor.name for advisor in advisors">
                                            <option value="" disabled selected>Advisor...</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <select ng-model="card.board" class="form-control" ng-change="delete_selected_values(card)"
                                                    ng-options="board._id as board.name for board in boards[card.agent]">
                                                <option value="" disabled selected>Board...</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" ng-model="card.count" class="form-control" placeholder="No. of items">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-default" 
                                                    ng-click="questions_modal(card.agent, card.board, page, $index)" 
                                                    ng-show="card.board">Questions</button>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <select ng-model="card.header_type" class="form-control">
                                            <option value="" disabled selected>Header type...</option>
                                            <option value="null">No header</option>
                                            <option value="text">Text</option>
                                            <option value="image">Image</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label style="font-weight:normal;">
                                                <input type="checkbox" ng-model="card.include_header_agent"> Include agent info in header
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="card.header_type == 'text'">
                                        <input type="text" ng-model="card.title" class="form-control" placeholder="Card Title">
                                    </div>
                                    <div class="form-group" ng-if="card.header_type == 'text'">
                                        <input type="text" ng-model="card.subtitle" class="form-control" placeholder="Subtitle">
                                    </div>
                                    <div class="form-group" ng-if="card.header_type == 'image'">
                                        <div class="filepicker">
                                            <img ng-show="card.header_image" src="{{card.header_image}}" class="image">
                                            <img ng-hide="card.header_image" src="http://www.placehold.it/200x200" class="image">
                                            <a href="" ng-if="card.header_image" ng-click="card.header_image = ''" class="add-delete-icon red delete-image">
                                                <i class="glyphicon glyphicon-minus-sign" tooltip="Remove image"></i>
                                            </a>
                                            <a class="filepicker-hover" ng-click="pick_file(card, 'header_image')">Change image</a>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4" ng-if="card.header_type == 'image'">
                                        <select ng-model="card.header_image_size" class="form-control">
                                            <option value="" disabled selected>Header size...</option>
                                            <option value="small">Small (620x140)</option>
                                            <option value="medium">Medium (620x280)</option>
                                            <option value="large">Large (620x420)</option>
                                            <option value="xl">XL (620x640)</option>
                                            <option value="jumbo">Jumbo (620x840)</option>
                                        </select>
                                    </div>
                                </div>

                                <div ng-switch-when="navigation">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <select ng-model="card.item_orientation" class="form-control">
                                                <option value="" disabled selected>Orientation...</option>
                                                <option value="horizontal">Horizontal</option>
                                                <option value="vertical">Vertical</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select ng-model="card.header_type" class="form-control">
                                                <option value="" disabled selected>Header type...</option>
                                                <option value="null">No header</option>
                                                <option value="text">Text</option>
                                                <option value="image">Image</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="card.header_type == 'text'">
                                        <input type="text" ng-model="card.title" class="form-control" placeholder="Card Title">
                                    </div>
                                    <div class="form-group" ng-if="card.header_type == 'text'">
                                        <input type="text" ng-model="card.subtitle" class="form-control" placeholder="Subtitle">
                                    </div>
                                    <div class="form-group col-md-4" ng-if="card.header_type == 'image'">
                                        <div class="filepicker">
                                            <img ng-show="card.header_image" src="{{card.header_image}}" class="image">
                                            <img ng-hide="card.header_image" src="http://www.placehold.it/200x200" class="image">
                                            <a href="" ng-if="card.header_image" ng-click="card.header_image = ''" class="add-delete-icon red delete-image">
                                                <i class="glyphicon glyphicon-minus-sign" tooltip="Remove image"></i>
                                            </a>
                                            <a class="filepicker-hover" ng-click="pick_file(card, 'header_image')">Change image</a>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="card.header_type == 'image'">
                                        <div class="col-md-4">
                                            <select ng-model="card.header_image_size" class="form-control">
                                                <option value="" disabled selected>Header size...</option>
                                                <option value="small">Small (620x140)</option>
                                                <option value="medium">Medium (620x280)</option>
                                                <option value="large">Large (620x420)</option>
                                                <option value="xl">XL (620x640)</option>
                                                <option value="jumbo">Jumbo (620x840)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-repeat="item in card.item_list">
                                        <div class="form-group inline" style="width:40%;">
                                            <input type="text" ng-model="item.name" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="form-group inline">
                                            <button type="button" class="btn btn-default btn-icon iconpicker" iconpicker="item"></button>
                                        </div>
                                        <div class="form-group inline">
                                            <select type="text" ng-model="item.link_type" class="form-control">
                                                <option value="" disabled selected>Link...</option>
                                                <option value="page">Page</option>
                                                <option value="agent">Agent</option>
                                            </select>
                                        </div>
                                        <div class="form-group inline" ng-if="item.link_type == 'page'">
                                            <select ng-model="item.link_code" class="form-control">
                                                <option value="" disabled selected>Page...</option>
                                                <option ng-repeat="page in app.pages" value="{{page.page_code}}">{{page.title}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group inline" ng-if="item.link_type == 'agent'" ng-init="get_boards(item.link_code)">
                                            <select ng-model="item.link_code" class="form-control" ng-change="get_boards(item.link_code)"
                                                    ng-options="advisor.id as advisor.name for advisor in advisors">
                                                <option value="" disabled selected>Advisor...</option>
                                            </select>
                                        </div>
                                        <div class="form-group inline" ng-if="item.link_type == 'agent'">
                                            <select ng-model="item.link_board" class="form-control"
                                                    ng-options="board._id as board.name for board in boards[item.link_code]">
                                                <option value="" disabled selected>Board...</option>
                                            </select>
                                        </div>
                                        <a href="" ng-click="delete_item(card, $index)" class="add-delete-icon red delete-item pull-right">
                                            <i class="glyphicon glyphicon-minus-sign" tooltip="Delete item"></i>
                                        </a>
                                    </div>
                                    <a href="" ng-click="add_item(card)" class="btn btn-sm btn-default">New item</a>
                                </div>
                            </div>
                            <a href="" ng-click="add_card(page)" class="btn btn-default add-card">Add card</a>
                        </tab>
                        <a href="" ng-click="add_page()" class="add-delete-icon green add-page">
                            <i class="glyphicon glyphicon-plus-sign" tooltip="Add page" style="float:none;"></i>
                        </a>
                    </tabset>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-default" ng-click="save()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="beacon_modal.html">
    <div class="modal-header">
        <h2 class="modal-title">Trigger Beacon</h2>
    </div>
    <div class="modal-body">
        <input type="text" ng-model="app.pages[page].trigger_beacon.name"  placeholder="Name"  class="form-control">
        <input type="text" ng-model="app.pages[page].trigger_beacon.uuid"  placeholder="UUID"  class="form-control">
        <input type="text" ng-model="app.pages[page].trigger_beacon.major" placeholder="Major" class="form-control">
        <input type="text" ng-model="app.pages[page].trigger_beacon.minor" placeholder="Minor" class="form-control">
        <div class="buttons">
            <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
            <button type="button" ng-click="close()" class="btn btn-default">Close</button>
        </div>
    </div>
</script>
