<!--END TOPBAR-->
    <div id="wrapper" data-ng-init="getUserPreferences();"><!--BEGIN SIDEBAR MENU-->        
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="portlet box portlet-green">
                            <div class="portlet-body">
                                <h4 class="leading-txt">To get started, please let us know a few things about you</h4>
                                <div id="rootwizard-custom-circle">
                                    <div class="navbar">
                                        <div class="navbar-inner">
                                            <ul>
                                                <li><a href="#tab1-wizard-custom-circle" target="_self" data-toggle="tab"><i class="glyphicon glyphicon-user"></i>

                                                    <p class="anchor">The basics</p>
                                                </a></li>
                                                    <!--<p class="description">Set up account</p></a></li>-->
                                                <li><a href="#tab2-wizard-custom-circle" target="_self" data-toggle="tab"><i class="glyphicon glyphicon-glass"></i>

                                                    <p class="anchor">What you like</p>
                                                </a></li>
                                                    <!--<p class="description">Provide information</p></a></li>-->
                                                <li><a href="#tab3-wizard-custom-circle" target="_self" data-toggle="tab"><i class="glyphicon glyphicon-transfer"></i>

                                                    <p class="anchor">The numbers</p>
                                                </a></li>
                                                    <!--<p class="description">Check products</p></a></li>-->
                                                <li><a href="#tab4-wizard-custom-circle" target="_self" data-toggle="tab"><i class="glyphicon glyphicon-ok"></i>

                                                    <p class="anchor">Finish</p>
                                                </a></li>
                                                    <!--<p class="description">Confirm all</p></a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="bar" class="progress active">
                                        <div class="bar progress-bar progress-bar-primary"></div>
                                    </div>
                                    <div class="tab-content">
                                        <div id="tab1-wizard-custom-circle" class="tab-pane active">
                                            <!--<h3 class="mbxl">Set up your account</h3>-->

                                            <form action="#" id="form-tab1-wizard-custom-circle">
                                                <div class="row">

                                                    <div ng-repeat="userPreferences in userPreferencesData.basic">
                                                       
                                                       <div class="col-sm-6">
                                                     
                                                            <div class="form-group form-element" ng-if="userPreferences.type == 'email' || userPreferences.type == 'text' || userPreferences.type == 'string'">
                                                                <label for="inputUsername" class="control-label">
                                                                    {{userPreferences.title}}
                                                                    <span class='require'>*
                                                                    </span>
                                                                </label>

                                                                <input name="{{userPreferences.code}}" ng-model="userPreferences.value" type="{{userPreferences.type}}" class="inputUsername form-control"/>
                                                                <i class="alert alert-hide">Oops! Forgot something? Let try again.</i>
                                                            </div>

                                                            <div class="form-group form-element" ng-if="userPreferences.type == 'radio'">
                                                                <label for="inputUsername" class="control-label">
                                                                    {{userPreferences.title}}
                                                                    <span class='require'>*
                                                                    </span>
                                                                </label>
                                                                       <select data-ng-init="initSelectValue($index,userPreferences.value)" name="{{userPreferences.code}}" ng-model="userPreferences.value" id="{{userPreferences.code}}" class="inputUsername form-control">
                                                                           <option value="select">--Select--</option>
                                                                           <option value="{{$index}}" ng-repeat="option in userPreferences.options" ng-selected="userPreferences.value==$index">{{option}}</option>
                                                                       </select>
                                                                 
                                                                    <i class="alert alert-hide">Oops! Forgot something? Let try again.</i>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                       
                                                    </div>

                                                    <!-- <div class="col-md-6">
                                                        <div class="form-group"><label for="inputUsername" class="col-sm-3 control-label">Email <span class='require'>*</span></label>

                                                            <div class="col-sm-9">
                                                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span><input type="email" placeholder="enter email address" class="inputUsername form-control"/></div>
                                                                <i class="alert alert-hide">Oops! Forgot something? Let try again.</i></div>
                                                        </div>
                                                        <div class="form-group"><label for="inputEmail" class="col-sm-3 control-label">Zip Code <span class='require'>*</span></label>

                                                            <div class="col-sm-9">
                                                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-paper-plane"></i></span><input type="text" placeholder="enter zip code" class="inputPwd form-control"/></div>
                                                                <i class="alert alert-hide">Oops! Forgot something? Let try again.</i></div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group"><label for="inputUsername" class="col-sm-3 control-label">Shipping <span class='require'>*</span></label>

                                                            <div class="col-sm-9">
                                                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-truck"></i></span><select class="inputUsername form-control"><option>I'd rather pick it up</option></select></div>
                                                                <i class="alert alert-hide">Oops! Forgot something? Let try again.</i></div>
                                                        </div>
                                                        <div class="form-group"><label for="inputEmail" class="col-sm-3 control-label">Call Myself <span class='require'>*</span></label>

                                                            <div class="col-sm-9">
                                                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-phone"></i></span><select class="inputUsername form-control"><option>I'd rather pick it up</option></select></div>
                                                                <i class="alert alert-hide">Oops! Forgot something? Let try again.</i></div>
                                                        </div>
                                                    </div> -->
                                                    
                                                </div>
                                            </form>
                                        </div>
                                        <div id="tab2-wizard-custom-circle" class="tab-pane">
                                            <p>If you recognize anything below, let us know how often you drink it. (Don't worry, it's just to get us started)</p>

                                            <div class="row">
                                                <div class="col-md-4 col-sm-6" ng-repeat="userPerferences in userPreferencesData.style_prefs">
                                                    <div class="tile-bg">
                                                        <h4 class="mbxl label-head">{{userPerferences.title}}</h4>
                                                        <div class="btn-block">
                                                            <div role="toolbar" class="btn-toolbar">
                                                                <div class="btn-group mbm">
                                                                    <button type="button" id="button-style-prefs-{{$index}}-1" ng-click="userPreferencesStylePrefs($index, 1);" ng-class="{'active':userPerferences.value == 1}" class="btn btn-default btn-red btn-outlined wine-consumption">Rarely</button>
                                                                    <button ng-click="userPreferencesStylePrefs($index, 2);" id="button-style-prefs-{{$index}}-2" value="2" type="button" ng-class="{'active':userPerferences.value == 2}" class="btn btn-default btn-yellow btn-outlined wine-consumption">Sometimes</button>
                                                                    <button ng-click="userPreferencesStylePrefs($index, 3);" id="button-style-prefs-{{$index}}-3" value="3" ng-class="{'active':userPerferences.value == 3}" type="button" class="btn btn-default btn-green btn-outlined wine-consumption">Often</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                
                                            </div>
                                        </div>
                                        <div id="tab3-wizard-custom-circle" class="tab-pane fadeIn">
                                            <div class="form-group ex-spc" ng-repeat="userPerferences in userPreferencesData.offer_prefs">
                                                <div class="row">
                                                    <label class="col-md-3 control-label">{{userPerferences.title}}:</label>
                                                    <div class="col-md-6">
                                                    <p>
                                                    <label for="amount">{{userPerferences.value_title}}<label ng-if="userPerferences.options.mappings && userPerferences.options.mappings != 'null'">
                                                        <span ng-repeat="mapping in userPerferences.options.mappings" ng-if="mapping.value == userPerferences.value"><b>&nbsp;{{mapping.display}}</b></span>
                                                    </label>
                                                    <label ng-if="!userPerferences.options.mappings"><b>${{userPerferences.value}}</b></label>
                                                    </label>
                                                    <!-- <input id="amount-max" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/> -->
                                                    <input name="{{userPreferences.code}}" type="range" min="{{userPerferences.options.min}}" max="{{userPerferences.options.max}}" step="{{userPerferences.options.step}}" ng-model="userPerferences.value">

                                                   
                                                    </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-3 control-label">Average bottle price</label>
                                                    <div class="col-md-6"><p><label for="amount">Price/bottle:</label><input id="amount-min" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/></p>
                                                        <div id="slider-range-min" class="slider"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-3 control-label">Maximum frequency of offers</label>
                                                    <div class="col-md-6"><p><label for="amount">Frequency:</label><input id="amount-max" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/></p>
                                                        <div id="slider-range-max" class="slider"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-3 control-label">Most you would ever pay for a bottle</label>
                                                    <div class="col-md-6"><p><label for="amount">Maximum bottle price:</label><input id="amount-min" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/></p>
                                                        <div id="slider-range-min" class="slider"></div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>

                                        <div id="tab4-wizard-custom-circle" class="tab-pane fadeIn">
                                            <h4>Thanks! This should help us get started.</h4> 
                                            <h4>The next thing we'll do is use this to grind through hundreds of thousands of wines, figure out who has what and what price and then we'll update you via email. This usually takes a day or two...math is hard.</h4>

                                        </div>
                                       <div class="action text-right">
                                            <button type="button" name="previous" value="Previous" class="btn btn-info button-previous"><i class="fa fa-arrow-circle-o-left mrx"></i>Previous</button>
                                            <button type="button" name="next" value="Next" class="btn btn-info button-next mlm">Next<i class="fa fa-arrow-circle-o-right mlx"></i></button>
                                            <button type="button" name="finish" ng-click="saveUserPreferences()" value="Finish" style="display:none" class="btn btn-info button-finish mlm">Finish<i class="fa fa-arrow-circle-o-right mlx"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../vendors/jquery-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="../js/form-wizard.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/simple-slider.css">
    <script type="text/javascript" src="../js/simple-slider.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(".button-next, .navbar-inner ul li a:last-child").click(function(){
            setTimeout(function(){
                if($(".button-next").hasClass("disabled")){
                    $(".button-next").css("display","none");
                    $(".button-finish").css("display","");
                } else {
                    $(".button-next").css("display","");
                    $(".button-finish").css("display","none");
                }
            }, 500);
        });
        $(".button-previous, .navbar-inner ul li a:nth-child(1), .navbar-inner ul li a:nth-child(2), .navbar-inner ul li a:nth-child(3)").click(function(){
            $(".button-next").css("display","");
            $(".button-finish").css("display","none");
        });


    });
    </script>
