<div class="wrapper">
    <div class="content fixed">
        <div class="page">
            <div class="main-header row">
                <div class="col-md-10 col-sm-10">
                    <br/>
                    <h1>Thank you for your interest in Cruzu!</h1>

                    <h2>
                        We are currently in a limited alpha release. While the product isn't quite ready for prime time, we're making great progress. What's really needed now is feedback
                        from wine enthusiasts to help us complete the product and deliver on our vision of creating a whole new way to discover and buy wine.
                    </h2><br/>
                    <h2>
                        If you buy a fair bit of wine and don't mind getting your hands dirty during this alpha period, please send an email to <a href="mailto:michael@cruzu.com" style="color:#000;">Michael Brill</a> to activate your account. Otherwise sit tight
                        and we'll let you know when it's ready.
                    </h2>

                </div>
            </div>
        </div>
    </div>
</div>

