<div class="wrapper">
    <div class="content container">
        <div class="page" id="boards">
            <div ng-show="loading">Loading...</div>
            <div>
                <button class="btn btn-default pull-right margin-bottom" ng-click="delete_board()">Delete Board</button>
            </div>
            <form>
                <section class="board-block col-md-10 col-md-offset-2 well">
                    <h3 class="boards-heading">Board Info</h3>
                    <text-input model="board.name" label="Board Name"></text-input>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Image: </label>
                        <div class="col-md-9">
                            <div class="filepicker">
                                <img ng-show="board.image" src="{{board.image}}" class="image">
                                <img ng-hide="board.image" src="http://www.placehold.it/200x200" class="image">
                                <a href="" ng-if="board.image" ng-click="board.image = ''" class="add-delete-icon red delete-image">
                                    <i class="glyphicon glyphicon-minus-sign" tooltip="Remove image"></i>
                                </a>
                                <a class="filepicker-hover" ng-click="pick_file(board, 'image')">Change image</a>
                            </div>
                        </div>
                    </div>


                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="board.is_new_type" label="Is New Type" name="is_new_type">Is New Type?
                    </label>


                    <text-input model="board.agent_alias" label="Advisor name alias"></text-input>
                    <text-input model="board.agent_alias_bio" label="Advisor alias bio"></text-input>
                    <text-input model="board.short_note" label="Short note"></text-input>
                    <text-input model="board.long_note" label="More info"></text-input>
                    <text-input model="board.default_section_short_note" label="Default comment"></text-input>
                    <text-input model="board.agent_base_url" label="Service URL (Advanced)"></text-input>
                </section>

                <section class="board-block col-md-10 col-md-offset-2 well">
                    <h3 class="boards-heading">Questions</h3>
                    <div ng-repeat="question in board.questions">
                        <div class="col-md-11 margin-bottom">
                            <select ng-model="board.questions[$index]" class="form-control"
                                ng-options="question._id as question.text for question in questions">
                                <option value="" selected disabled>Question...</option>
                            </select>
                        </div>
                        <a href="" ng-click="question_modal(question)" class="add-delete-icon green pull-left">
                            <i class="glyphicon glyphicon-question-sign" tooltip="Show question"></i>
                        </a>
                        <a href="" ng-click="delete_question($index)" class="add-delete-icon red">
                            <i class="glyphicon glyphicon-minus-sign" tooltip="Delete question"></i>
                        </a>
                    </div>
                    <a ng-click="add_question()" class="btn btn-default margin-top">Add question</a>
                </section>

                <section class="board-block col-md-10 col-md-offset-2">
                    <h3 class="boards-heading">Sections</h3>
                    <tabset>
                        <tab ng-repeat="section in board.sections" heading="Section {{$index + 1}}" select="get_products(section)">
                            <a href="" ng-click="delete_section($index)" class="add-delete-icon red">
                              <i class="glyphicon glyphicon-minus-sign" tooltip="Delete section"></i>
                            </a>
                            <div class="pull-left" class="margin-bottom">
                                <span ng-hide="view == 'search'" class="attribute toggle" ng-click="search_view()">
                                    <i class="glyphicon glyphicon-search"></i>
                                </span>
                                <span ng-hide="view == 'attributes'" class="attribute toggle" ng-click="attribute_view()">
                                    <i class="glyphicon glyphicon-list"></i>
                                </span>
                            </div>

                            <div ng-if="view == 'search'" class="searchbar pull-left">
                                <!-- TODO: extract -->
                                <input type="text" ng-model="selected" placeholder="Search" class="form-control typeahead"
                                    typeahead="product.meta.name for product in quicksearch($viewValue) | filter:$viewValue"
                                    typeahead-on-select="open({product: $item, board: board, section: section, controls: true})">
                            </div>

                            <div ng-if="view == 'attributes'">
                                <ul class="attributes pull-right">
                                    <li  ng-if="view == 'attributes'" class="attribute" ng-class="{'selected': selected_attribute == attr}"
                                         ng-click="select_attribute(attr)" ng-repeat="attr in attributes">{{attr.attribute}}</li>
                                </ul>
                            </div>

                            <div ng-if="view == 'attributes'" class="margin-top">
                                <div class="well">
                                <div ng-repeat="attr in attributes">
                                    <div ng-if="(selected_attribute == attr) && (attr.type == 'string')">
                                        <tags model="section.predicate[$index].value" src="val for val in attr.flat_list" options="{addable: true}"></tags>
                                    </div>
                                    <div ng-if="(selected_attribute == attr) && (selected_attribute.type == 'range')">
                                        <div class="col-md-5">
                                            <input type="number" ng-model="section.predicate[attribute_index(attr, section)].value[0]" class="form-control" placeholder="From">
                                        </div>
                                        <div class="col-md-5">
                                            <input type="number" ng-model="section.predicate[attribute_index(attr, section)].value[1]" class="form-control" placeholder="To">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-default margin-top" ng-click="get_products(section)">Update</button>
                                </div>

                                <pagination total-items="pagination.totalItems" page="pagination.currentPage" on-select-page="setPage(page)"
                                            max-size="5" boundary-links="true" class="pagination-sm"></pagination>
                                <table class="table table-striped table-hover table-bordered">
                                    <tr ng-repeat="product in current_products">
                                        <td ng-click="open({product: product, board: board, section: section, controls: true})">{{product.meta.name}}</td>
                                    </tr>
                                </table>
                            </div>

                            <h3 class="boards-heading margin-top" style="clear:both;">Selected Products</h3>
                            <table class="table table-striped table-hover table-bordered">
                                <tr ng-repeat="product in section.products">
                                    <td ng-click="open({product: product, board: board, section: section, controls: true})">{{product.vintage}} {{product.product_name}}</td>
                                </tr>
                            </table>
                        </tab>
                        <a href="" ng-click="add_section()" class="add-delete-icon green green add-page">
                            <i class="glyphicon glyphicon-plus-sign" tooltip="Add section"></i>
                        </a>
                    </tabset>
                </section>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-default" ng-click="save_board()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
