<div class="wrapper">
    <div class="content fixed">
        <div class="page">
            <div class="row">
                <div class="col-md-9" style="padding-top: 28px;">
                    <h2 ng-hide="!isInfluencerActive" class="pull-left">Your recommendations are active</h2>

                    <h2 ng-hide="isInfluencerActive" class="pull-left">Your recommendations are not active</h2>
                    <br>
                </div>
                <div class="col-md-3">
                    <br>
                    <button type="button" ng-hide="isInfluencerActive" ng-click="setInfluencerActive(true)"
                            class="btn btn-success btn-large pull-right">Make Active
                    </button>
                    <button type="button" ng-hide="!isInfluencerActive" ng-click="setInfluencerActive(false)"
                            class="btn btn-danger btn-large pull-right">Make Inactive
                    </button>
                </div>
            </div>
            <hr>
            <tabset type="'pills'">
                <tab heading="Recommended" class="reco-tab" select="showSearch(false)">
                    <div class="row" style="margin:0;">
                        <table class="table table-hover table-striped table-condensed table-bordered board-table" style="margin-top:20px;">
                            <thead>
                            <tr>
                                <th class="panel panel-heading"></th>
                                <th class="panel panel-heading">Product</th>
                                <th class="panel panel-heading" style="text-align:center">Vintage</th>
                                <th class="panel panel-heading" style="text-align:center">Price</th>
                                <th class="panel panel-heading">Notes / Review</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr data-ng-repeat="wine in wines" >
                                <td class=col-md-1" style="text-align:center"><input type="checkbox" name="loggedin"
                                                                                     ng-model="wine.selected">
                                    <button class="btn btn-danger" style="margin-top: 5px" ng-show="wine.selected"
                                            type="button" ng-click="deleteWine($index)">Delete
                                    </button>
                                </td>
                                <td class="col-md-4"> {{ wine.product_name }}</td>
                                <td class="col-md-1" style="text-align:center">{{ wine.vintage }}</td>
                                <td class="col-md-1" style="text-align:center">{{ wine.price }}</td>
                                <td class="col-md-5">
                                    <input type="text" class="form-control" name="name" ng-model="wine.note"
                                           ng-blur="saveWines(wine)"
                                           value="{{wine.note}}" placeholder="Why you are recommending this wine">
                                    <textarea class="form-control" name="name" ng-model="wine.review"
                                              ng-blur="saveWines(wine)"
                                              value="{{wine.review}}"
                                              placeholder="Long review of wine or leave empty for Cruzu review "></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <h2 class="reco-message" ng-hide="wines.length > 0">Select the Add tab to make recommendations</h2>

                    </div>
                </tab>
                <tab heading="Add" class="reco-tab" select="showSearch(true)">
                    <div class="row" style="margin:0;">
                        <table class="table table-hover table-striped table-condensed table-bordered board-table ordersTable TableStyle">
                            <thead>
                            <tr>
                                <th class="panel panel-heading">Product</th>
                                <th class="panel panel-heading" style="text-align:center">Vintage</th>
                                <th class="panel panel-heading" style="text-align:center">Price</th>
                                <th class="panel panel-heading"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="product in products">
                                <td class="col-md-7">{{ product.name }}</td>
                                <td class="col-md-1"><select class="form-control" ng-model="product.vintage"
                                                             ng-options="vintage.year for vintage in product.vintages"
                                                             ng-change="vintageClick($index)">
                                    <option value="">Vintage</option>
                                </select>
                                </td>
                                <td class="col-md-2" style="text-align:center">
                                 <span popover="{{formattedSource()}}"
                                       popover-trigger="mouseenter" popover-placement="left" title="Product Sources">
                                   {{ product.price }}
                                     </span>
                                </td>
                                <td class=col-md-1" style="text-align:center">
                                    <button class="btn btn-success" type="button" ng-click="addProduct($index)"
                                            ng-hide="product.isAdded">Add
                                    </button>
                                    <span ng-show="product.vintage.isAdded">Added</span>

                                </td>
                            </tr>
                            </tbody>

                        </table>
                        <h2 class="reco-message" ng-hide="products.length > 0">Enter a new search term to add
                            products</h2>
                    </div>
                </tab>
                <tab heading="Info" class="reco-tab" select="showSearch(false)">
                    <br>
                    <div class="panel panel-question">
                        <div class="panel panel-heading">Short Bio (3-5 words that describe your point of view)</div>
                        <input type="text" ng-model="user.short_bio" class="form-control pull-right"
                               ng-blur="saveBio()"></input>
                    </div>
                    <div class="panel panel-question">
                        <div class="panel panel-heading">Long Bio (15-20 words that describe your point of view)</div>
                        <input type="text" ng-model="user.long_bio" class="form-control pull-right"
                               ng-blur="saveBio()"></input>
                    </div>
                </tab>

                <div class="nav-list-clean pull-right" ng-show="showFilter">
                    <div class="search">
                        <div class="input-group">
                            <form ng-submit="viewProducts()"><input type="text" class="form-control"
                                                                    placeholder="Search" value="Submit"
                                                                    ng-model="query">
                            </form>
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="viewProducts()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                        </div>
                    </div>
                </div>
            </tabset>

        </div>

    </div>
</div>
