<div class="wrapper">
    <div class="content container">
        <div class="page" id="board-select">
            <section class="board-section">
                <h2 class="boards-heading">Advisor</h2>
                <form class="form-horizontal" ng-submit="save_user()">
                    <text-input model="user.name" label="Name"></text-input>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Image: </label>
                        <div class="col-md-9">
                            <div class="filepicker">
                                <img ng-show="user.image" src="{{user.image}}" class="image">
                                <img ng-hide="user.image" src="http://www.placehold.it/200x200" class="image">
                                <a class="filepicker-hover" ng-click="pick_file(user, 'image')">Change image</a>
                            </div>
                        </div>
                    </div>
                    <text-input model="user.long_bio" label="Long Bio"></text-input>
                    <text-input model="user.short_bio" label="Short Bio"></text-input>
                    <submit-button value="Save"></submit-button> 
                </form>
            </section>


            <section class="board-section">
                <h2 class="boards-heading">Boards</h2>
                <div ng-hide="board.hide" ng-repeat="board in boards" class="item">
                    <a href="/#/boards/{{board._id}}">
                        <img ng-show="board.image" src="{{board.image}}">
                        <img ng-hide="board.image" src="http://placehold.it/200x200">
                        <button type="button" ng-if="board.name" class="center-container"><h3 class="centered">{{board.name}}</h3></button>
                        <button type="button" ng-if="!board.name" class="center-container"><h3 class="centered">Edit Board</h3></button>
                    </a>
                </div>
                <div class="item">
                    <a href="" ng-click="add_board()">
                        <div class="new-item">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </div>
                        <button type="button"><h3>Add new board</h3></button>
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
