<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h2 class="modal-title">{{board.name}}</h2>
    </div>
    <div class="modal-body">
        <div class="well well-sm">
            <div class="thumbnail">
                <img width="100px" src="{{agent.image}}" alt="">
            </div>
        {{board.description}}
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="question in board.questions">
                <div class="row">
                    <br>
                    <label>{{question.text}}</label>

                    <input ng-if="question.answer.control_type == 'text'" 
                           ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)]._value" 
                           type="text" class="form-control pull-right" style="width:90px; text-align:right">

                    <textarea ng-if="question.answer.control_type == 'textarea'" 
                              ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)]._value" 
                              class="form-control pull-right" rows="3"></textarea>


                    <div ng-if="question.answer.control_type == 'radio'">
                        <div class="input-group" ng-repeat="option in question.answer.option_list">
                            <span class="input-group-addon">
                                <input ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)]._value[0].return_value" 
                                       type="radio" value="{{option.display_value}}">
                            </span>
                        </div>
                    </div>

                    <multiselect ng-if="question.answer.control_type == 'dropdown'" class="input-xlarge pull-right" multiple="false"
                                 ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)]._value"
                                 options="option.return_value as option.display_value for option in question.answer.option_list"
                                 change="selected()"></multiselect>

                    <multiselect ng-if="question.answer.control_type == 'checkbox'" class="input-xlarge pull-right" multiple="true"
                                 default="{{control.default_text}}"
                                 ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)]._value"
                                 options="option.return_value as option.display_value for option in question.answer.option_list"
                                 change="selected()"></multiselect>

                </div>
            </li>
        </ul>
        <p class="text-center">
            <a ng-click="ok()" class="btn btn-success col-3" style="float:none">OK</a> &nbsp;
            <a ng-click="cancel()" class="btn btn-danger col-3" style="float:none">Cancel</a>
        </p>
        <br>
    </div>
</div>
