<div class="wrapper">
    <div class="content container">
        <div class="page" id="explore">
            <div ng-hide="advisor">
                <div class="searchbox">
                    <input type="text" ng-model="selected" placeholder="Search" typeahead="product.meta.name for product in quicksearch($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" typeahead-on-select="open({product: $item._id})">
                </div>

                <div class="page-header">
                    <h2>All advisors</h2>
                </div>

                <div masonry='{"gutter": 10}' id="masonry">
                    <div class="block block-1 masonry-brick">

                        <div class="block-header">
                            <h3>All advisors</h3>
                        </div>

                        <div class="block-content-wrap">
                            <div class="center" style="width:198px;">
                                <a href="" ng-click="toggle_advisor(advisor)" ng-repeat="advisor in advisors" >
                                    <img  src="{{advisor.image}}" class="circle circle-small">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="block block-2 masonry-brick detail-block" ng-if="advisors[0].products">
                        <div class="block-header">
                            <h3>{{advisors[0].name}}</h3>
                        </div>
                            <div class="block-content name">
                                <h4 style="font-size:20px;color:#383838;" class="modal-trigger" ng-click="open({product: advisors[0].current_products[0], advisor: advisors[0]})">{{advisors[0].current_products[0].name}}</h4>
                            </div>

                            <div class="block-content">
                                <p class="review-header">{{advisors[0].current_products[0].title}}</p>

                                <img src="{{advisors[0].image}}" class="circle circle-large" ng-click="open({product: advisors[0].current_products[0], advisor: advisors[0]})">
                                <p class="review-text">{{advisors[0].current_products[0].product_review | truncate:320}}</p>
                            </div>

                            <ul class="block-prices block-content-wrap">
                                <li class="pricing-small" ng-show="advisors[0].current_products[0].list_price">List price <strong style="font-size:24px;color:#6f625a;">{{advisors[0].current_products[0].list_price | currency}}</strong>
                                <li class="pricing-small" ng-show="advisors[0].current_products[0].list_price">Discount <strong style="font-size:24px;color:#6f625a;">{{advisors[0].current_products[0].discount}}%</strong>
                                <li style="font-size:16px;color:#cf8c5b;text-transform:uppercase;">Price <strong style="font-size:36px;color:#6f625a;">{{advisors[0].current_products[0].sources[0].actual_price | currency}}</strong>
                                <li class="review-score"><div class="circle">{{advisors[0].current_products[0].score}}</div>
                            </ul>

                        <div class="navigation">
                            <img src="images/nav-gray-left.png" ng-click="previous_product(advisors[0])">
                            <img src="images/nav-gray.png" ng-click="next_product(advisors[0])">
                        </div>
                    </div>

                    <div class="block block-1 content-block masonry-brick">
                        <img src="images/bottles.png">
                    </div>

                    <div ng-repeat="advisor in advisors">
                        <ng-include src="advisor.block.trustedTemplate" ng-if="!$first && advisor.products.length > 0"></ng-include>
                    </div>

                </div>
            </div>

            <div ng-show="advisor">

                <div class="searchbox">
                    <input type="text" placeholder="Search" ng-model="query">
                </div>

                <div class="block-1 block pull-left">
                    <div class="block-header" ng-click="toggle_advisor()">
                        <div class="circle"></div>
                        <h4 class="back">All Advisors</h4>
                    </div>
                    <div class="block-content advisor-view">
                        <img src="{{advisor.image}}" class="circle">
                        <div class="advisor-name">{{advisor.name}}</div>
                        <div class="btn item-btn btn-default" ng-click="open_question_modal(advisor)">QUESTIONS</div>
                    </div>
                </div>

                <div class="block-3 block pull-right">
                    <ul class="products-list">
                        <li ng-repeat="product in advisor.products | filter:query" ng-click="open({product: product, advisor: advisor})">
                            <div class="title">{{product.title}}</div>
                            <div class="circle">{{product.score}}</div>
                            <div class="name">{{product.name}}</div>
                            <div class="prices">
                                <div class="original-price" ng-show="product.list_price">
                                    {{product.list_price | currency}}<br>
                                    {{product.discount}}% off
                                </div>
                                <div class="price">{{product.sources[0].actual_price | currency}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="horizontal-detail.html">
    <div class="block block-2 block-large masonry-brick summary-horizontal">
        <div class="block-header">
            <img src="{{advisor.image}}" class="circle small-image">
            <h3>{{advisor.name}}</h3>
        </div>

        <div class="product modal-trigger" ng-repeat="product in advisor.current_products" ng-click="open({product: product, advisor: advisor})">
            <div class="image">
                <div class="circle">{{product.score}}</div>
            </div>

            <div class="content pull-right">
                <div class="name">
                    <strong>{{product.name}}</strong>
                </div>

                <div class="prices pull-left">
                    <div class="original-price" ng-show="product.list_price">
                        {{product.list_price | currency}}<br>
                        {{product.discount}}% off
                    </div>
                    <div class="price">{{product.sources[0].actual_price | currency}}</div>
                </div>

                <!--
                <div class="available pull-right">
                    x bottles available
                </div>
                -->
            </div>
        </div>

        <div class="navigation">
            <img src="images/nav-gray-left.png" ng-click="previous_product(advisor)">
            <img src="images/nav-gray.png" ng-click="next_product(advisor)"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="detail.html">
</script>

<script type="text/ng-template" id="horizontal.html">
    <div class="block block-2 block-small masonry-brick summary-horizontal">
        <div class="block-header">
            <img src="{{advisor.image}}" class="circle small-image">
            <h3>{{advisor.name}}</h3>
        </div>
        <div class="products">
            <div ng-repeat="product in advisor.current_products" class="placeholder-small product modal-trigger" ng-click="open({product: product, advisor: advisor})">
                <div class="name">{{product.name | truncate:35}}</div>
                <div class="circle score">{{product.score}}</div>
                <div class="prices">
                    <p class="pull-left original-price" ng-show="product.list_price">{{product.list_price | currency}}</p>
                    <p class="pull-right price">{{product.sources[0].actual_price | currency}}</p>
                </div>
            </div>
        </div>
        <div class="navigation">
            <img src="images/nav-gray-left.png" ng-click="previous_product(advisor)">
            <img src="images/nav-gray.png" ng-click="next_product(advisor)"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="vertical.html">
    <div class="block block-2 block-small summary-vertical masonry-brick">
        <div class="block-header">
            <img src="{{advisor.image}}" class="circle small-image">
            <h3>{{advisor.name}}</h3>
        </div>
        <ul>
            <li class="block-content modal-trigger" style="overflow:hidden;" ng-repeat="product in advisor.products" ng-click="open({product: product, advisor: advisor})">
                <div class="circle pull-left score" style="">{{product.score}}</div>
                <p class="pull-left">{{product.name}}</p>
                <div class="pull-right prices">
                    <span class="original-price" ng-show="product.list_price">{{product.list_price | currency}}</span><br>
                    <span class="price">{{product.sources[0].actual_price | currency}}</span>
                </div>
            </li>
        </ul>
    </div>
</script>
