<!--BEGIN FOOTER-->
        <div id="footer">
            <div class="copyright">2014 © Cruzu</div>
        </div>
        <!--END FOOTER--><!--END PAGE WRAPPER-->
        </div>
    </div>
</body>
</html>