<div class="wrapper" id="top">
    <div class="content fixed">
        <div class="page">
            <div class="main-header row">
                <div class="col-md-12 col-sm-12">
                    <h2 ng-show="!isAuthenticated">now a bit about you</h2>

                    <h3 ng-show="!isAuthenticated">Please answer the following questions to help us create the best
                        offers</h3>

                    <h2 ng-show="isAuthenticated">your general preferences</h2>
                    <hr/>
                    <fieldset class="panel panel-question" ng-repeat="control in controls">
                        <div ng-switch on="getControlType($index)">
                            <div class="panel-heading">Question {{$index+1}} of {{controls.length}}</div>
                            <p>{{control.title}}
                                <input ng-switch-when="text" ng-model="control.answer" type="text"
                                       class="form-control pull-right" style="width:90px;">

                            <div ng-switch-when="range" class="row">
                                <!-- single value sliders -->
                                <div class="col-md-10 col-sm-10 col-xs-8">
                                    <div class="slider" ui-slider
                                         min="{{control.range.low}}" max="{{control.range.high}}"
                                         step="{{control.range.step}}"
                                         ng-model="control.answer">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="text-center form-control">{{control.answer}}</div>
                                </div>


                                <!-- range sliders -->
                                <!--
                                <div class="col-md-2 col-sm-2">
                                    <div id="input-range-min" class="text-center form-control">{{control.answer[0]}}</div>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div id="price-range-slider" class="slider" ui-slider="{range:true}" min="{{control.range.low}}" max="{{control.range.high}}" step="{{control.range.step}}" ng-model="control.answer"></div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div id="input-range-max" class="text-center form-control">{{control.answer[1]}}</div>
                                </div>
                                -->
                            </div>

                            <div ng-switch-when="radio">
                                <div class="input-group" ng-repeat="option in control.options">
                            <span class="input-group-addon">
                                <input ng-model="control.answer" name="{{control.id}}" type="radio"
                                       value="{{option.value}}">
                            </span>
                                    <label for={{control.id}} class="form-control">{{option.value}}</label>
                                </div>
                            </div>

                            <multiselect ng-switch-when="dropdown" class="input-xlarge pull-right" multiple="false"
                                         ng-model="control.answer"
                                         options="option.value for option in control.options"
                                         change="selected()"></multiselect>

                            <multiselect ng-switch-when="checkbox" class="input-xlarge pull-right" multiple="true"
                                         default="{{control.default_text}}"
                                         ng-model="control.selectedOptions"
                                         options="option.value for option in control.options"
                                         change="selected()"></multiselect>

                        </div>
                    </fieldset>
                    <br/>

                    <p class="text-center"><a ng-click="ok()" ng-disabled="inactive()"
                                              class="btn btn-success btn-large inactive">OK, I'm done</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="confirmationModal.html">
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="close()" aria-hidden="true">×</button>
        <h2 ng-show="!isAuthenticated" class="modal-title">That's it</h2>

        <h2 ng-show="isAuthenticated" class="modal-title">Answers Updated</h2>
    </div>
    <div ng-show="!isAuthenticated" class="modal-body">
        <p>OK, we've got enough to get going. You will soon start receiving email offers as your team tracks down wines they think you'll like.</p>
         <p></br>For now, we'll show you some example offers your team has found.</p>
    </div>
    <div ng-show="isAuthenticated" class="modal-body">
        <p>OK, your answers are updated. Starting tomorrow your agents will use these answers instead of the previous
            ones.</p>
    </div>


    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-large btn-success col-md-4" style="float:none;" ng-click="close()">OK</button>
        </div>
    </div>
</script>

<!--<div class="modal" id="modalConfirm">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">times;</button>-->
<!--<h2 class="modal-title">That's it!</h2>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<p>OK, we've got enough to get going. You will start receiving email offers as your team tracks down the best stuff. This will start tomorrow.</p>-->
<!--<p>For now, we'll show you some example offers</p>-->
<!--<br />-->
<!--<p class="text-center"><a href="g.html" class="btn btn-success btn-large col-4" style="float:none">OK</a></p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<script>-->
<!--$('.modal').on('shown.bs.modal', function () {-->
<!--var topMargin = ($(window).height()-$(this).find('.modal-dialog').height()) / 2 + 'px';-->
<!--$('.modal-backdrop').addClass('fade');-->
<!--$(this).find('.modal-dialog').css({'margin-top':topMargin,'top':'0'}).hide().fadeIn();-->
<!--});-->
<!--</script>-->
