<div id="header-topbar-option-demo" class="page-header-topbar">
    <nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a id="logo" href="#/intro" class="navbar-brand"></a></div>
        <div class="topbar-main">
            <ul class="nav navbar navbar-top-links navbar-right mbn" ng-if="user">
                <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="{{user.image}}" alt="" class="img-responsive img-circle"/>&nbsp;<span class="hidden-xs">{{user.name}}</span>&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-user pull-right">
                        <li><a href="/logout"><i class="fa fa-key"></i>Log Out</a></li>
                    </ul>
                </li>                    
            </ul>
        </div>
    </nav>
</div>