<div class="wrapper">
    <div class="content">
        <div class="page">

            <div class="page-header">
                <h1>Turn Your Voice Into Action</h1>
            </div>
            <hr>

            <div class="whitepanel">

                <div class="well">
                    <p class="lead">
                    Cruzu enables wine writers, somms, wine enthusiasts and others to create Cruzu Advice Cards that come alive to provide guidance to wine
                        buyers exactly where and when they need it.
                    </p>
                </div>


                <h3>Cruzu Advisors</h3>
                <p>
                Advisors are the heart of Cruzu. Each advisor has an area of interest and point of view that is used to find great wines for shoppers. You
                    create cards based on specific products or super-flexible queries that use product attributes to identify multiple products. For the more
                    adventuresome, you can even plug advisor logic to handle almost any type of recommendations. Your advice card is applied to whatever inventory is available
                    at the restaurant or retailer where the customer is.
                </p>

                <h3>Why Create an Advisor?</h3>
                <p>
                    Cruzu extends your reach and your brand, enabling you to provide real value to your existing constituents and attract new ones.
                    It's one thing to list a few wines you like on a website, but having people follow you and get automatic in-store advice converts you from a passive source of information to a proactive driver of purchases.
                    In the future there will be referral-based compensation model where you will receive a percentage of any transaction that
                    results from your recommendation.
                </p>

                <h3>How to Create an Advisor</h3>
                <p>
                    Advisors are either list-oriented (such as "My top 100 Wines of 2013") or algorithmic (based on product
                    attributes and user preferences). Currently we support the list model with some user personalization (it's super-easy). We also have a private alpha release of the Cruzu Advisor API for algorithmic recommendations.
                    If you are interested in creating an advisor, please contact Michael Brill (<a href="mailto:michael@cruzu.com">michael@cruzu.com</a>).
                </p>

            </div>
        </div>
    </div>
</div>