<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h2 class="modal-title">{{board.name}}</h2>
    </div>
    <div class="modal-body">
        <div class="well well-sm">
            <div class="thumbnail">
                <img width="100px" src="{{board.image}}" alt="">
            </div>
        {{board.description}}
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="control in board.controls">
                <div class="row" ng-switch on="getControlType($index)">
                    <label>{{control.title}}</label>
                    <input ng-switch-when="text" ng-model="control.answer.value" type="text" class="form-control pull-right"
                           style="width:90px; text-align:right">

                    <textarea ng-switch-when="textarea" ng-model="control.answer.value" class="form-control pull-right"
                              rows="3"></textarea>

                    <div ng-switch-when="range" class="row">
                        <!-- template for single value sliders -->
                        <div class="col-md-9 col-sm-10 col-xs-8">
                            <div class="slider" ui-slider
                                 min="{{control.range.low}}" max="{{control.range.high}}" step="{{control.range.step}}"
                                 ng-model="control.answer">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-2 col-xs-4 no-space">
                            <div class="text-center form-control">{{control.answer}}</div>
                        </div>


                        <!-- template for range sliders -->
                        <!--
                        <div class="col-md-2 col-sm-2">
                            <div id="input-range-min" class="text-center form-control">{{control.answer[0]}}</div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div id="price-range-slider" class="slider" ui-slider="{range:true}" min="{{control.range.low}}" max="{{control.range.high}}" step="{{control.range.step}}" ng-model="control.answer"></div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div id="input-range-max" class="text-center form-control">{{control.answer[1]}}</div>
                        </div>
                        -->

                    </div>

                    <div ng-switch-when="radio">
                        <div class="input-group" ng-repeat="option in control.options">
                            <span class="input-group-addon">
                                <input ng-model="control.answer" name="{{control.id}}" type="radio"
                                       value="{{option.value}}">
                            </span>
                            <label for="{{control.id}}" class="form-control">{{option.value}}</label>
                        </div>
                    </div>

                    <multiselect ng-switch-when="dropdown" class="input-xlarge pull-right" multiple="false"
                                 ng-model="control.answer"
                                 options="option.value for option in control.options"
                                 change="selected()"></multiselect>

                    <multiselect ng-switch-when="checkbox" class="input-xlarge pull-right" multiple="true"
                                 default="{{control.default_text}}"
                                 ng-model="control.selectedOptions"
                                 options="option.value for option in control.options"
                                 change="selected()"></multiselect>
                </div>
            </li>
        </ul>
        <p class="text-center">
            <a ng-click="ok()" class="btn btn-success col-3" style="float:none">OK</a> &nbsp;
            <a ng-click="cancel()" class="btn btn-danger col-3" style="float:none">Cancel</a>
        </p>
        <br>
    </div>
</div>
