<div class="wrapper home">

    <div class="intro row text-center">
        </br></br>
        <h1 class="logo"><img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/assets/cruzu_logo_alpha.png"></h1>
            <h2>pick your team of wine experts who figure out what you like and are black belts in finding deals</h2>

        <a ng-click="login()" class="btn fb-login"><span></span> Login with Facebook</a>
        <h3>Cruzu is is private alpha. Login to request access.</h3>
        <!-- <div class="temp-photo"></div> -->
    </div>

    <hr class="login">

    <h2 class="text-center">HOW CRUZU WORKS</h2>
    <br />

    <div class="row text-center">
        <h2>- assemble your team -</h2>
        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/images/agents.png" class="photo" width="800px">
    </div>


    <div class="row text-center">
        <br /><br />
        <h2>- let them know your preferences -</h2>
        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/images/questions.png" class="photo" width="800px">
    </div>

    <div class="row text-center">
        <br /><br />
        <h2>- get 100% personalized deals in your inbox -</h2>
        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/images/offer.png" class="photo" width="800px">
    </div>

    <hr class="login">
    <div class="intro row text-center">
        <h2>Drink more interesting wines, spend less money and have a lot more fun</h2>
    </div>


    <div class="row text-center">
        <a ng-click="login()" class="btn fb-login"><span></span> Login with Facebook</a>
    </div>
    <br>

</div>
