<div class="wrapper home">

    <div class="intro row text-center">

        <h1 class="logo">cruzu</h1>
        <h2>Choose your own team of wine experts that figure out what you like, have tasted millions of wines and are black belts at finding you deals</h2>
        <a ng-click="login()" class="btn fb-login"><span></span> Login with Facebook</a>
        <!-- <div class="temp-photo"></div> -->
    </div>

    <hr>

    <div class="row text-center">
        <h3>Pick the experts you want to follow and let them do the work - they love it</h3>
        <div class="item text-center">
            <div class="expert">
                <img src="images/expert-temp1.jpg" class="photo">
                <div class="info">
                    <strong>John Doe</strong>
                    <span>Italian Wine Specialist</span>
                    <em>6 followers</em>
                </div>
            </div>
        </div>
        <div class="item text-center">
            <div class="expert">
                <img src="images/expert-temp2.jpg" class="photo">
                <div class="info">
                    <strong>Jane Doe</strong>
                    <span>Bordeaux Wine Specialist</span>
                    <em>10 followers</em>
                </div>
            </div>
        </div>
        <div class="item text-center">
            <div class="expert">
                <img src="images/expert-temp3.jpg" class="photo">
                <div class="info">
                    <strong>Botnik</strong>
                    <span>Wine Expert Bot</span>
                    <em>7 followers</em>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <h3>Cruzu helps your team constantly scan millions of wines for great wines at the best prices</h3>
        <div class="temp-photo"></div>
    </div>

    <div class="row text-center">
        <h3>And when there's something you really need to know about, they'll let you know</h3>
        <div class="temp-photo"></div>
    </div>

    <hr>

    <div class="row text-center">
        <a href="/auth/service/facebook" class="btn fb-login"><span></span> Login with Facebook</a>
    </div>

</div>
