<div class="wrapper" id="top">
    <div class="content fixed">
        <div class="page">
            <div class="main-header row">
                <div class="col-md-6 col-sm-6">

                    <h2 ng-show="isAuthenticated">team selection</h2>
                    <h2 ng-show="!isAuthenticated" class="next-arrow">welcome to cruzu</h2>
                    <h3 ng-show="!isAuthenticated">to start, pick at least three
                        <span popover="Team members find wines for you. Select the ones that seem interesting and answer any questions they may have." popover-trigger="mouseenter" popover-placement="bottom">team members</span>
                    </h3>
                </div>

            </div>

            <div class="nav-list">

                <div class="dropdown" style="float:left;">
                    <span popover="Use this magic button to generate an extra offer" popover-trigger="mouseenter" popover-placement="bottom">
                        <a ng-click="sendNextOffer()"><img src="images/doc-icon.png"></a>
                    </span>

                    <p class="dropdown-toggle link">
                      All Categories
                      <span class="caret"></span>
                    <ul class="dropdown-menu">
                        <li ng-repeat="category in categories" ng-click="setCategory($index)">
                            <a>{{ category }}</a>
                        </li>
                    </ul>
                </div>


                <div class="search">
                    <input type="text" class="form-control" placeholder="Search" ng-model="query">
                </div>
            </div>

            <!-- <a next-page href="#/general_questions" id="ok-btn"
               class="btn btn-ok btn-success btn-large pull-right fade-fast" ng-class="{disabled: !showArrow}">{{buttonMsg}}</a> -->
        </div>

        <div class="items">
            <div class="item text-center animate"
                 ng-repeat="influencer in influencers | filter:query | category:searchCategory | orderBy:'priority'">
                <div hover-transition class="expert">
                    <img src="{{influencer.image}}" class="photo">

                    <div class="info">
                        <strong>{{influencer.name}}{{ influencer.following }}</strong>
                        <span class="accent-color">{{influencer.short_bio}}</span>
                        <span>{{influencer.long_bio}}</span>
                        <em>has followers</em>
                    </div>
                </div>

                <a follow-button ng-show="influencer.in_development"
                   class="btn btn-default inactive no-group" ng-disabled="true">
                    IN DEVELOPMENT
                </a>


                <a follow-button ng-show="!influencer.button.state && !influencer.in_development" ng-click="toggleButton(influencer)"
                   class="btn btn-default item-btn inactive no-group" ng-disabled="inactive()">
                    {{influencer.button.title}}
                </a>

                <a ng-show="influencer.button.state && !influencer.has_influencer_questions && !influencer.in_development" ng-click="toggleButton(influencer)"
                   class="btn btn-success inactive no-group" ng-disabled="inactive()">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{influencer.button.title}}
                </a>

                <div ng-show="influencer.button.state && influencer.has_influencer_questions && !influencer.in_development" class="btn-group">
                    <a ng-click="toggleButton(influencer)" class="btn btn-success inactive" ng-disabled="inactive()">
                        <span class="glyphicon glyphicon-ok"></span>
                        {{influencer.button.title}}
                    </a>
                    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="openModal(influencer)" class="text-left">More info...</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="next-page fade-fast" next-page ng-show="!isAuthenticated || isAuthenticated">
        <span popover="After you select your team, head over to answer a few questions" popover-trigger="mouseenter" popover-placement="top">
            <a href="/#/general_questions" disable-on-mobile><span class="icon glyphicon glyphicon-circle-arrow-right"></span></a>
        </span>
    </div>

</div>



<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="close()" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Thanks for following!</h2>
    </div>
    <div class="modal-body">
        <p>{{message}}</p>
    </div>
</script>


<script type="text/ng-template" id="modalInfluencer.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h2 class="modal-title">Influencer Signup</h2>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning">
            <div class="row">
                <span class="col-md-2 text-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" style="font-size:60px"></span>
                </span>
                <span class="col-md-10">
                    <p>You sure about this? Influencers are the people you follow that make wine recommendations. If
                        that sounds like you, then by all means sign up.</p>

                </span>
            </div>
        </div>
        <h3><a data-dismiss="modal" href="#">Whoops, I didn't mean to click this.</a></h3>

        <p><a href="l.html">Yes, I really do want to register as an influencer</a></p>
    </div>
</script>



<script type="text/ng-template" id="modalIntro.html">
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="close()" aria-hidden="true">×</button>
        <h2  class="modal-title">Welcome to Cruzu (alpha)</h2>
    </div>
    <div class="modal-body" style="background: #6a5e53; padding-top: 0px; padding-bottom:10px">
        <h3 style="color:#f0f0f0; text-shadow:0px 0px; line-height: 24px;">Start by following advisors, answer any questions and then look for great wine offers in your inbox.</h3>
    </div>

    <div class="modal-body text-center">
        <div class="items">
            <div class="item text-center animate">
                <div hover-transition class="expert">
                    <img src="{{influencer.image}}" class="photo">
                    <div class="info">
                        <strong>{{influencer.name}}{{ influencer.following }}</strong>
                        <span class="accent-color">{{influencer.short_bio}}</span>
                        <span>{{influencer.long_bio}}</span>
                        <em>has followers</em>
                    </div>
                </div>
            </div>
        </div>

        <h4 style="text-align: left; margin-top:0px; margin-bottom: 0px; font-size:18px;">Each of your advisors has their own point of view, so browse around and follow those that seem like they'll find wines you'll like. Mouse over their picture to find out more about what they do.</h4>
    </div>

    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-large btn-success col-md-4" style="float:none;" ng-click="close()">Let's Get Started</button>
        </div>
    </div>
</script>
