<div class="wrapper offer-detail">

    <div class="content fixed">

        <div class="page">

            <h2>{{offer.vintage}} {{offer.product_name}}</h2>

            <ul class="review-list">
                <li ng-repeat="review in offer.reviews"><b>{{review.name}} {{review.score_str}} points</b></li>
            </ul>


            <div class="review row">
                <div class="col-md-4 purchase-wrapper pull-right">
                    <div class="purchase panel text-right">
                        <h3 ng-show="!offer.product_list_price">Price:</h3>
                        <h3>{{offer.sources[0].price|currency}}</h3>
                        <span ng-hide="!offer.product_list_price"><h4>List Price: {{offer.product_list_price|currency}} ({{100-((offer.sources[0].price/offer.product_list_price)*100)|number:0}}% off)</h4></span>
                        <br ng-hide="!offer.product_list_price"><a href ng-click="save_click()" class="btn btn-success">Buy from {{offer.sources[0].name}}</a>
                        <p><a href="#">{{sourceMsg}}</a></p>
                    </div>

                    <div class="gallery">
                        <img ng-repeat="product_image in offer.product_images" src="{{product_image}}" alt="">
                    </div>

                </div>

                <div class="col-md-8 comment-wrapper">

                    <div class="comment">

                        <p class="speech-bubble left pull-right"><b>{{offer.subject_line}}</b></br>{{offer.influencer_comment}}</p>
                        <div class="influencer pull-left">
                            <div class="photo">
                                <img width=100px src="{{offer.influencer_image}}" alt="">
                            </div>
                            <small>{{offer.influencer_name}}</small>
                        </div>



                    </div>

                    <div class="panel details">
                        <p>{{offer.cruzu_review}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="feedback" ng-hide="showFeedback">Not the sort of wine you'd buy?
                        <a href ng-click="showFeedbackModal()">
                            let us know and we'll do better next time.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="feedbackModal.html">
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="close()" aria-hidden="true">×</button>
        <h2 class="modal-title">Feedback on offer</h2>
    </div>
    <div class="modal-body">
        <p>We'll use it to improve how Cruzu finds you deals.</p>
        <textarea class="form-control" ng-model="feedback.content" rows="5"></textarea>
    </div>

    <div class="modal-footer">
        <div class="text-center">
            <a ng-disabled="msg || feedback.content.length==0" ng-click="ok()" class="btn btn-success col-3" style="float:none"> OK </a> &nbsp;
            <a ng-disabled="msg" ng-click="close()" class="btn btn-danger col-3" style="float:none">Cancel</a>
            <h3 ng-if="msg">{{msg}}</h3>
        </div>
    </div>
</script>

