

    <div id="wrapper" data-ng-init="getOffer();"><!--BEGIN SIDEBAR MENU-->        
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
						<h1 class="section-title">Offer for {{offerDate}}</h1>
						
						<div class="offer-contnr">
							<h2 class="contnr-title"><i class="fa fa-empire"></i> &nbsp {{offer.header_title}}</h2>
							<p>{{offer.header_text}}</p>
							
							<div class="offer-band">
								<p>{{offer.offer_title}}</p>
							</div>
							<div class="clearfix offer-wrppr" ng-repeat="product in offerProducts">
								<div class="offer-score">
									<div id="canvas">
										<div class="offer-img" id="img-{{product.product_id+'-'+$index}}">
											
										</div>
										<div class="circle" id="circles-{{product.product_id+'-'+$index}}"></div>
									</div>
									<ul class="other-offr">
										<li ng-repeat="other_scores in product.other_scores"><span class="offr-block">{{other_scores.reviewer}}<span class="count-nbr">{{other_scores.score}}</span></span></li>
									</ul>
								</div>
								<div class="offer-description">
									<h2 class="offer-title">{{product.name}}</h2>
									<h3 class="offer-subtitle">{{product.title}}</h3>
									<ul class="offer-country">
										<li><img src="{{product.region_icon}}" alt=""></li>
										<li>{{product.region_text}}</li>
									</ul>
									<div class="desc-wrppr">
										<p>{{product.description}}</p>
									</div>
									<div class="btn-base">
										<ul class="offer-btns">
											<li class="ordrs"><a href="#"><i class="fa fa-glass"></i> New Orders</a></li>
											<li class="commnt"><a href="#"><i class="fa fa-comments"></i> Comments</a></li>
											<!--<li class="dwnld"><a href="#"><i class="fa fa-download"></i> Downloads</a></li>-->
										</ul>
									</div>
								</div>
								<div class="offer-price">
									<ul class="price-modules">
										<li class="original-price"><span ng-if="product.list_price && product.list_price!='null'">${{product.list_price}}</span></li>
										<li class="discount"><span ng-if="product.discount_pct && product.discount_pct!='null'">{{product.discount_pct}}% off</span></li>
										<li class="actual-price"><span ng-if="product.actual_price && product.actual_price!='null'">${{product.actual_price}}</span></li>
									</ul>
								</div>
							</div>
								
							<div class="offer-total">
								<div class="clearfix">
									<div class="pull-left total-head">Subtotal</div>
									<div class="pull-right total-value">${{offerTotals.subtotal}}</div>
								</div>
								<div class="clearfix">
									<div class="pull-left total-head">Sales tax</div>
									<div class="pull-right total-value">${{offerTotals.sales_tax}}</div>
								</div>
								<div class="clearfix">
									<div class="pull-left total-head">Shipping</div>
									<div class="pull-right total-value">${{offerTotals.shipping}}</div>
								</div>
								<div class="clearfix">
									<div class="pull-left total-head">Total</div>
									<div class="pull-right grand-total">${{offerTotals.total}}</div>
								</div>
							</div>
							
							<div class="offer-bottom-left" ng-if="offerSource">
								<h4><i class="fa  fa-map-marker"></i> This offer is from {{offerSource.name}}</h4>
								<div class="clearfix">
									<div class="offer-map">
										<div id="map-canvas" style="width:100%; height:190px" data-ng-init="initMap(offerSource.location[1], offerSource.location[0])"></div>
									</div>
									<div class="offer-detail">
										<p>{{offerSource.name}}</p>
										<p>{{offerSource.city_state}}</p>
										<p>{{offerSource.phone}}</p>
										<p><a href="{{offerSource.url}}" target='_blank'>{{offerSource.url}}</a></p>
										<p><a href="mailto:{{offerSource.email}}">{{offerSource.email}}</a></p>
									</div>
								</div>
							</div>
							
							<a href="{{buyLink}}" target="_blank" class="btn btn-primary btn-block btn-buy"><i class="fa fa-shopping-cart"></i> Buy This</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<script src="../js/circles.min.js"></script>
	<style>
		#canvas .circle {
			display: inline-block;
			margin: 1em;
		}

		.circles-decimals {
			font-size: .4em;
		}
	</style>
	
		