<div class="wrapper" id="top" data-ng-init="getOffers();">
    <div class="content fixed">
        <div class="page" >
            <div class="box cf">
                <ul>
                    <li ng-repeat="offer in offers | filter:query">
                        <div class="top-details cf">
                            <div class="titleh2">
                                <a href="#/offer/{{offer._id}}"><h2>{{offer.source.name}}</h2></a>
                            </div>
                            <div class="subtxt">
                                <p>{{offer.source.city_state}}</p>
                                <p>{{offer.source.phone}}</p>
                                <p>{{offer.source.url}}</p>
                                <p>{{offer.source.email}}</p>
                            </div>
                            <!-- <div class="ratinglabel">
                                <div class="rating">
                                    <div ng-repeat="review in offer.reviews.slice(0,2)">
                                        <div class="rating-bg">xxxx</div>
                                        <div class="rating-bg-txt">
                                            <p>xxxx</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="price">
                                    <div class="wasprice" ng-show="offer.product_list_price >= offer.sources[0].price * 1.05">
                                        <p>{{offer.product_list_price | currency}} ({{100-((offer.sources[0].price/offer.product_list_price)*100)|number:0}}% off)</p>
                                    </div>
                                    <div class="actualprice">
                                        <p>{{offer.sources[0].price | currency}}</p>
                                    </div>
                                    <div class="arrow"><a href="#/offer_details/{{offer.id}}">&nbsp;</a></div>
                                </div>
                            </div> -->
                        </div>
                        <!-- <div class="agent">
                            <div class="agent-img"><img src="{{offer.influencer_image}}" alt="" title=""/></div>
                            <div class="agent-txt">
                                <div class="titleh3">
                                    <h3>{{offer.influencer_name}}</h3>
                                </div>
                                <div class="txt">
                                    <p>{{offer.influencer_comment | truncate:85}}</p>
                                </div>
                            </div>
                        </div> -->
                    </li>
                </ul>



            <div ng-show="!offers.length">
                <h3>No offers yet. Hold tight, they're on their way.</h3>
            </div>

        </div>
    </div>

</div>
