<!doctype html>
<html>
<div class="wrapper">
<div class="content fixed">
<div class="page main">


    <div class="bottom-titleh2 cf">
        <h2>{{offer.vintage}} {{offer.product_name}}</h2>
    </div>
    <div class="offerdetail">
        <div class="titleh2">
            <h2>{{offer.subject_line}}</h2>
        </div>
        <div class="reviewerfull-main">
            <div class="reviewerfull">

                <ul class="cf">
                    <li ng-repeat="review in offer.reviews">
                        <div class="txt">
                            <p>{{review.name}}</p>
                        </div>
                        <div class="txt1">
                            <p>{{review.score}}</p>
                        </div>

                    </li>

                </ul>

            </div>

        </div>
        <div class="agent cf">
            <div class="agent-img-left"><img src="{{offer.influencer_image}}" alt="" title=""/></div>
            <div class="agenttxt">
                <div class="arrow"><img src="images/arrow-left.png" alt="" title=""/></div>
                <div class="titleh3">
                    <h3>{{offer.influencer_name}}</h3>
                </div>
                <div class="marron-arrow"><img src="images/marron-arrow.jpg" alt="" title=""/></div>
                <p>{{offer.influencer_comment}}</p>
            </div>
        </div>


        <div class="aboutwine">
            <div class="titleh3">
                <h3> About this wine </h3>
            </div>
            <div class="gray-arrow"><img src="images/gray-arrow.jpg" alt="" title=""/></div>
            <p>{{offer.cruzu_review}}</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="lastprice">
        <div class="discount-main cf" ng-show="offer.product_list_price >= offer.sources[0].price * 1.05">
            <ul>
                <li>
                    <div class="priceh3">
                        <h3>List price</h3>
                    </div>
                    <p>{{offer.product_list_price | currency}}</p>
                </li>
                <li>
                    <div class="priceh3">
                        <h3> discount </h3>
                    </div>
                    <p>{{100-((offer.sources[0].price/offer.product_list_price)*100) | number:0}}%</p>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="finalprice">
            <div class="priceh3">
                <h3>price</h3>
            </div>
            <p>{{offer.sources[0].price | currency}}</p>
        </div>
        <div class="buyknl"><img src="images/buyakalkit.jpg" alt="" title="">
            <a href ng-click="save_click()" target="_blank">
                <div class="bg cf">

                    <div class="txt">
                        <p>Buy: {{offer.sources[0].name}}</p>
                    </div>
                    <div class="arrow"></div>

                </div>
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>
</div>
</div>
