<div class="container">
    <table class="table table-condensed">
        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/advisor_header.png"><thead>

    </thead>
        <tr>
            <th class="col-med-9"></th>
            <th class="col-med-4"></th>
        </tr>
        <tr>
            <td class="col-med-8 intro-text" style="padding-right:20px">
                <br>
                <h1>Expert wine buying advice in wine stores and restaurants</h1>
                <p class="lead">Cruzu puts the smarts of wine experts into Advice Cards that come alive
                    on your phone exactly when you need them. Every advisor knows your preferences
                    and the available inventory. The result is just in time advice that cuts out
                    the clutter so you drink better wine, save money and have a whole lot more fun in the process.
                </p>
                <p class="lead">Cruzu is currently in private beta for iOS7.</p>
                <h2 style="margin-top:-20px;"><small style="padding-left:0px;">
                    <a ng-hide="request_link.buyer" ng-click="show_login_form('buyer')">request access</a>
                </small>
                    <form ng-show="login_form.buyer" id="signup-form01" method="post" class="login-form fade-fast">
                        <div class="input-group">
                            <input id="EMAIL" type="email" ng-model="email" placeholder="Enter your email address" class="form-control">
                            <span class="input-group-btn">
                                <a ng-click="subscribe('buyer')" class="btn btn-success">subscribe</a>
                            </span>
                        </div>
                        <p ng-show="subscribe_text" class="subscribe-text fade-fast">
                            Thank you!
                        </p>
                    </form>
                </h2>
                </br></br>
                <br>

                <h2>Cruzu for Retailers & Restaurants
                    <hr></h2>

                <p class="lead">You've assembled a world-class selection of products, now give your customers a way to experience shopping
                    in a way that is fun and makes them want to come back: more exploratorium and less confusion. Create your
                    own experiences or choose from a growing library. You can vary experiences by time of day, visitor and even run your
                    own flash sales for in-store customers.
                </p>
                <h2 style="margin-top:-20px;"><small style="padding-left:0px;">
                    <a ng-hide="request_link.retail" ng-click="show_login_form('retail')">request access</a>
                </small>
                    <form ng-show="login_form.retail" id="signup-form01" method="post" class="login-form fade-fast">
                        <div class="input-group">
                            <input id="EMAIL" type="email" ng-model="email" placeholder="Enter your email address" class="form-control">
                            <span class="input-group-btn">
                                <a ng-click="subscribe('retail')" class="btn btn-success">subscribe</a>
                            </span>
                        </div>
                        <p ng-show="subscribe_text" class="subscribe-text fade-fast">
                            Thank you!
                        </p>
                    </form>
                </h2>
                </br></br>

                <!-- end for retailers -->

                <h2>Cruzu for Producers, Importers & Distributors
                    <hr></h2>

                <p class="lead">Ever wish you could reach out and connect with a shopper with advice as they are standing in front of
                    your products? Cruzu provides a non-intrusive way for your Advice Cards to be inserted into the shopper's application flow
                    on the fly - just in time advice for them and an opportunity for you to connect by providing real value, not more noise.
                </p>
                <h2 style = "margin-top:-20px;">
                    <small style="padding-left:0px;">
                        <a ng-hide="request_link.producer" ng-click="show_login_form('producer')">request access</a>
                    </small>
                    <form ng-show="login_form.producer" id="signup-form01" method="post" class="login-form fade-fast">
                        <div class="input-group">
                            <input  id="EMAIL" type="email" ng-model="email" placeholder="Enter your email address" class="form-control">
                            <span class="input-group-btn">
                                <a ng-click="subscribe('producer')" class="btn btn-success">subscribe</a>
                            </span>
                        </div>
                        <p ng-show="subscribe_text" class="subscribe-text fade-fast">
                            Thank you!
                        </p>
                    </form>
                </h2>
                </br></br>

                <!-- end for third parties -->

                <h2>Cruzu for Wine Experts
                    <hr></h2>

                <p class="lead">Whether you're a publisher with a library of content or an enthusiast who manages to
                    try every Zinfandel ever made, you now have a channel to advise wine buyers when they need your support the most. Maybe
                    it's a handful of friends or maybe throngs of followers - but now everyone can take you with them shopping.
                </p>
                <h2 style="margin-top:-20px;">
                    <small style="padding-left:0px;">
                        <a ng-hide="request_link.expert" ng-click="show_login_form('expert')">request access</a>
                    </small>
                    <form ng-show="login_form.expert" id="signup-form01" method="post" class="login-form fade-fast">
                        <div class="input-group">
                            <input type="email" id="EMAIL" ng-model="email" placeholder="Enter your email address" class="form-control">
                            <span class="input-group-btn">
                                <a ng-click="subscribe('expert')" class="btn btn-success">subscribe</a>
                            </span>
                        </div>
                        <p ng-show="subscribe_text" class="subscribe-text fade-fast">
                            Thank you!
                        </p>
                    </form>
                </h2>
                </br></br>

                <!-- end for enthusiasts -->
                <h2>More About Advisor Cards
                    <hr></h2>
                <p class="lead">
                    The same way that social media has scaled human interactions, Cruzu wants to scale human expertise. Capturing
                    domain knowledge and then "injecting" that into our shopping experiences means that we don't have to fumble around trying to become
                    an expert for everything we buy. Let's just tap into existing expertise that comes alive when we need it. We're starting with
                    wine retailers, restaurants and supermarkets... where we end up is anyone's guess.
                </p>
                </br>





                <!-- end for guide cards -->

            </td>

            <td image-slide class="col-med-4" style="width:320px; overflow: hidden; height: 1800px; position:relative;">
                <div class="slide-container" style="position: absolute; top: 50px; overflow: hidden; height: 1800px;">
                    <div class="slide-container-inner">
                     <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/card_list/card_21.png" width="320" class="slide">

                    </div>
                </div>
            </td>
        </tr>
        </thead>
    </table>


    <!-- end footer -->

</div>
