<div class="modal-body">
    <div class="row">
        <div class="col-md-8 description-panel">
            <div ng-if="controls">
                <button class="btn btn-default" ng-hide="selected" ng-click="add_to_list()">Add to List</button>
                <button class="btn btn-default" ng-show="selected" ng-click="delete_from_list()">Delete from List</button>
            </div>
            <div class="block-header">
                <h4>{{product.name || product.meta.name || product.product_name}}</h3>
            </div>

            <div class="block-content" style="padding:0;">
                <div class="review-scores">
                    <div class="circle" ng-repeat="review in product.reviews">
                        <span class="reviewer">{{review.reviewer}}<span><br>
                        <span class="score">{{review.score}}</span>
                    </div>
                </div>

                <ul class="block-prices block-content-wrap">
                    <li class="pricing-small" ng-show="product.list_price">List price <strong style="font-size:24px;color:#6f625a;">{{product.list_price | currency}}</strong>
                    <li class="pricing-small" ng-show="product.list_price">Discount <strong style="font-size:24px;color:#6f625a;">{{product.discount}}%</strong>
                    <li style="font-size:16px;color:#cf8c5b;text-transform:uppercase;">Best price <strong style="font-size:36px;color:#6f625a;">{{product.sources[0].actual_price | currency}}</strong>
                </ul>
            </div>

            <div class="block-content advisor" ng-if="advisor">
                <img src="{{advisor.image}}">
                <div class="comment">
                    <h4><strong>{{advisor.name}}</strong> says</h4>
                    <p>{{product.agent_comment}}</p>
                </div>
            </div>

            <div class="block-content" ng-if="!selected">
                <h4>About this Wine</h4>
                <p>{{product.product_review || product.data.meta_review}}</p>
            </div>
            <div ng-if="controls && selected" class="margin-top">
                <div class="form-group">
                    <textarea placeholder="Your comment..." ng-model="user_product.comment" class="form-control" style="height:60px;"></textarea>
                </div>
                <div class="form-group">
                    <textarea placeholder="Your review..." ng-model="user_product.review" class="form-control" style="height:120px;"></textarea>
                </div>
                <button class="btn btn-default" ng-click="save()">Save</button>
            </div>
        </div>

        <div class="col-md-4 sources-panel">
            <h4>Sources for this product</h4>
            <ul class="sources">
                <li ng-repeat="source in product.sources" class="block-content">
                    {{source.source_name}}
                    <a href="http://www.example.com" target="_blank" class="pull-right actual-price">{{source.actual_price | currency}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<img src="images/close.png" class="circle close" ng-click="close()">
