<div class="wrapper" id="top">
    <div class="content fixed">
        <div class="page">
            <div class="row">
                <div class="col-md-9" style="padding-top: 8px;">
                    <br>

                    <h2 ng-hide="!isActive" class="pull-left">You are currently receiving offers</h2>

                    <h2 ng-hide="isActive" class="pull-left">You are not receiving offers</h2>
                    <br>
                </div>
                <div class="col-md-3">
                    <br>
                    <button type="button" ng-hide="isActive" ng-click="setActive(true)"
                            class="btn btn-success btn-large pull-right">Start Sending Offers
                    </button>
                    <button type="button" ng-hide="!isActive" ng-click="setActive(false)"
                            class="btn btn-danger btn-large pull-right">Stop Sending Offers
                    </button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>