<div class="modal-content">
    <div class="modal-body">
        <label>{{question.text}}</label>

        <input ng-if="question.answer.control_type == 'text'" 
               ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)].return_value" 
               type="text" class="form-control pull-right" style="width:90px; text-align:right">

        <textarea ng-if="question.answer.control_type == 'textarea'" 
                  ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)].return_value" 
                  class="form-control pull-right" rows="3"></textarea>


        <div ng-if="question.answer.control_type == 'radio'">
            <div class="input-group" ng-repeat="option in question.answer.option_list">
                <span class="input-group-addon">
                    <input ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)].return_value" 
                           type="radio" value="{{option.display_value}}">
                </span>
            </div>
        </div>

        <multiselect ng-if="question.answer.control_type == 'dropdown'" class="input-xlarge pull-right" multiple="false"
                     ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)].return_value"
                     options="option.return_value as option.display_value for option in question.answer.option_list"></multiselect>

        <multiselect ng-if="question.answer.control_type == 'checkbox'" class="input-xlarge pull-right" multiple="true"
                     default="{{control.default_text}}"
                     ng-model="app.pages[page].block_list[card].selected_values[selected_value(question)].return_value"
                     options="option.return_value as option.display_value for option in question.answer.option_list"></multiselect>
    </div>
</div>
