<div class="wrapper">
    <div class="content fixed">
        <div class="page">
            <div class="main-header row">
                <div class="col-md-10 col-sm-10 text-center">
                    <br/>

                    <h1>Cruzu Beta Install</h1>

                    <h2>Using Testflight</h2>
                    <br>Welcome the world of beta app installation. Apple doesn't make it so easy to do, so we use a tool called Testflight which makes it a bit more bearable.
                    Actually if you just follow Testflight's prompts, things should go without a hitch. If you want to see what's coming your way
                    then read below.<br><br>

                    <h3>You will receive an email invite.</h3>
                    <br><br>

                    <div class="text-center">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/web_content/testflight_img1.png">
                        <br><br>
                    </div>
                    <div>
                        <h3>Once you press Accept, you'll be asked to create an account. Create a name and
                            password and then press the Sign Up button.
                        </h3><br><br>
                    </div>
                    <div class="text-center">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/web_content/testflight_img3.png">
                        <br><br>
                    </div>
                    <div>
                        <h3>Once you press Sign Up, press Connect your Device.
                        </h3><br>
                    </div>
                    <div class="text-center">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/web_content/testflight_img4.png">

                    </div>
                    <div>
                        <h3>Press Connect.
                        </h3><br>
                    </div>
                    <div class="text-center">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/web_content/testflight_img5.png">
                        <br><br>
                    </div>
                    <div>
                        <h3>Press Connect.
                        </h3><br>
                    </div>
                    <div class="text-center">
                        <img src="https://dl.dropboxusercontent.com/u/26843720/cruzu/web_content/testflight_img6.png">
                        <br><br>
                    </div>
                    <div>
                        <h3>Now you've enabled your phone to run Cruzu. We will send a separate email with the
                            latest build. You will just click download in that email and that's it.
                        </h3><br>
                    </div>
                    <div><h3>
                        Send an email to michael@cruzu.com if you need assistance. This isn't exactly a one
                        click app store download.
                    </h3></div>
                </div>
            </div>
        </div>
    </div>
</div>

