<!--END TOPBAR-->
<div id="wrapper"><!--BEGIN SIDEBAR MENU-->        
<div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div style="max-width: 420px; margin: 50px auto 0; text-align: center;">
                <h1 style="margin-bottom: 35px;">WELCOME</h1>
                <p style="font-size: 18px; margin-bottom: 25px;">Cruzu is a new type of shopping agent that works for you around the clock to find great deals on great wines.</p>
                <p style="font-size: 18px; margin-bottom: 25px;">We don't sell wine and you only hear from us when we've found something really worth buying.</p>
                <a href="#/basic_info"><i class="fa fa-chevron-circle-right fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>   