<div class="wrapper">
    <div class="content">
        <div class="page">

            <div class="page-header">
                <h1>Selling Wine with Cruzu</h1>
            </div>
            <hr>

            <div class="whitepanel">
                <h3>Why Work with Cruzu</h3>
                <p>
                    Imagine if you could "hand-sell" online by creating a unique offer for every single buyer every day using language appropriate for that buyer.
                    That's what Cruzu does and you will sell more wine to customers you didn't have before. We don't simply regurgitate existing offers or route buyers to the lowest
                    priced source for wines they already know they want. Cruzu <b>creates</b> demand using a ton of data on wines
                    and buyers, and proprietary technology for identifying and personalizing high-probability offers.
                </p>

                <h3>It's Not Just About Being the Cheapest</h3>
                <p>
                  While Cruzu always puts the buyer's interests first, we also try to align theirs with yours. As important as price is, it's just one factor Cruzu
                    uses. We also care about location - it may be better for a buyer to pick wine up at a local store than have it shipped across the country,
                    especially in summer months. Buyers will also be able to set "favorite" stores and, if your store supports holding wine for customers, Cruzu will try
                    fill up a case to help manage shipping costs. Add in the ever-changing shipping restrictions and variable shipping costs and you
                    can see why it's more than just bottle price.
                </p>

                <h3>Big Orders Work for Everyone</h3>
                <p>
                    Selling a couple of bottles of $15 wine and shipping it across the country doesn't work for anyone. On the other hand,
                    how many people want to buy 6 or 12 bottles of the same wine? After the beta period, Cruzu will be adding support for "bundles" - multiple wines
                    in the same offer. Advisors will be able to construct bundle offers, typically around themes (e.g., 2007 Brunellos or Cool vs. Warm Climate Syrahs).
                    These are fun and cost-effective for wine enthusiasts and drive larger transactions for you.
                </p>

                <h3>Create Your Own Advisor</h3>
                <p>
                    As a wine retailer, you can actually create your own advisor. Any Cruzu user can follow your advisor and receive offers they
                    create. This provides you additional influence in the demand generation process for buyers who know and trust your recommendations
                    but aren't satisified with the one-size-fits-all offers that go out today.
                </p>

                <h3>Listing Wines</h3>
                <p>
            During the beta phase we are limiting sources to a handful of wine retailers and there is no charge to you if you are selected. Please contact Michael Brill (<a href="mailto:michael@cruzu.com">michael@cruzu.com</a>, 415-902-7097) if you'd
               like to see your wines made available to Cruzu users. The pocess is quite simple - point us to a feed or we can get updates while everyone is sleeping.
                </p>

            </div>
        </div>
    </div>
</div>